Repository e621ng/e621ng, pull requests merged in 2024-09, with the labels that each got.

#741 [Blacklist] Separate blacklist display for posts and comments
  app/javascript/src/javascripts/blacklists.js
  app/views/posts/partials/index/_blacklist.html.erb
  app/views/posts/show.html.erb
Labels: Lang: JS, Blacklist

#723 [PostView] Show verified uploaders to everyone
  app/decorators/posts_decorator.rb
  app/views/posts/partials/show/_information.html.erb
Labels: Type: Feature, Lang: Ruby, Posts

#712 [Posts] Readd the warning for removing an implicated tag
  app/models/post.rb
Labels: Type: Feature, Lang: Ruby, Posts

#705 [WikiPages] Redirect back to wiki when editing/fixing tag
  app/controllers/tag_corrections_controller.rb
  app/controllers/tags_controller.rb
  app/models/tag.rb
  app/models/wiki_page.rb
  app/views/tag_corrections/new.html.erb
  app/views/tags/edit.html.erb
  test/functional/tags_controller_test.rb
Labels: Type: Bug, Lang: Ruby, WikiPages

#742 [Posts] Only show uploader feedback counts to staff
  app/views/posts/partials/show/_information.html.erb
Labels: Type: Bug, Lang: HTML, Posts

#745 [DText] Adjust the font size on desktop
  app/javascript/src/styles/base.scss
  app/javascript/src/styles/base/_breakpoints.scss
  app/javascript/src/styles/common/dtext.scss
  app/views/posts/partials/index/_blacklist.html.erb
Labels: Type: Bug, Lang: CSS

#746 [Misc] Rework the page margins on mobile
  app/javascript/src/styles/common/main_layout.scss
  app/javascript/src/styles/common/z_responsive.scss
Labels: Type: Feature, Lang: CSS

#747 [JS] Fix an error in older browsers caused by replaceAll
  app/javascript/src/javascripts/autocomplete.js.erb
  app/javascript/src/javascripts/forum_topics.js
  app/javascript/src/javascripts/models/Filter.js
Labels: Type: Bug, Lang: JS

#748 [Thumbnails] Fix an issue caused by an avatar having an invalid value
  app/javascript/src/javascripts/thumbnails.js
Labels: Type: Bug, Lang: JS, Posts

#663 [Posts] Add verified artist search
  app/indexes/post_index.rb
  app/logical/elastic_post_query_builder.rb
  app/logical/tag_query.rb
  app/models/artist.rb
  db/fixes/114_1_add_opensearch_artverified_index.rb
  db/fixes/114_2_add_opensearch_artverified_data.rb
  test/unit/post_test.rb
Labels: Type: Feature, Lang: Ruby, Posts, Artists, Lang: SQL, ElasticSearch

#743 Add deleted record count to profiles
  app/helpers/posts_helper.rb
  app/javascript/src/styles/specific/user_feedback.scss
  app/models/user.rb
  app/presenters/user_presenter.rb
  test/functional/user_feedbacks_controller_test.rb
Labels: Type: Feature, Lang: HTML, Users

#751 [Misc] Fix the missing bottom margin issue
  app/javascript/src/styles/common/main_layout.scss
Labels: Type: Bug, Lang: CSS

#750 [AvoidPosting] Minor UI tweaks
  app/views/avoid_postings/_search.html.erb
  app/views/uploads/new.html.erb
Labels: Type: Bug, Lang: HTML, Avoid Posting

#714 [Sources] Allow source_diff to wrap dead sources in quotes
  app/models/post.rb
Labels: Type: Bug, Lang: Ruby, Posts

#752 [Themes] Rework the theme config page
  app/javascript/packs/application.js
  app/javascript/src/javascripts/posts.js
  app/javascript/src/javascripts/themes.js
  app/javascript/src/javascripts/utility/page.js
  app/javascript/src/javascripts/utility/storage.js
  app/javascript/src/styles/base.scss
  app/javascript/src/styles/specific/themes.scss
  app/views/layouts/_theme_include.html.erb
  app/views/static/theme.html.erb
Labels: Lang: JS, Lang: CSS

#762 Allow querying post versions by `updated_at`
  app/models/post_version.rb
Labels: Type: Feature, Lang: Ruby, Posts

#764 Allow uploading guidelines flag on approved posts
  app/models/post.rb
  app/models/post_flag.rb
  test/unit/post_flag_test.rb
Labels: Type: Feature, Lang: Ruby, Post Flags

#761 Allow ordering tickets by id
  app/models/ticket.rb
Labels: Type: Feature, Lang: Ruby, Tickets

#757 [Posts] Show verified uploaders to everyone
  app/views/posts/partials/show/_information.html.erb
Labels: Type: Feature, Lang: HTML, Posts
