Repository e621ng/e621ng, pull requests merged in 2024-07, with the labels that each got.

#666 [WikiPages] Prevent renaming wiki pages for help pages
  app/models/help_page.rb
  app/models/wiki_page.rb
  test/factories/help_page.rb
  test/unit/wiki_page_test.rb
Labels: Type: Bug, Lang: Ruby, WikiPages, HelpPages

#669 [PostSets/Pools] Handle metatag additions when set/pool is full
  app/controllers/posts_controller.rb
  app/javascript/src/javascripts/posts.js
  app/models/pool.rb
  app/models/post.rb
  app/models/post_set.rb
  config/danbooru_default_config.rb
  test/unit/post_test.rb
Labels: Type: Bug, Lang: Ruby, Pools, Post Sets

#664 [Tickets] Refactor viewing access and add json api
  app/controllers/tickets_controller.rb
  app/models/ticket.rb
  app/views/tickets/index.html.erb
  test/functional/tickets_controller_test.rb
Labels: Type: Feature, Lang: Ruby, Tickets

#683 [WikiPages] Implement basic redirects
  app/controllers/wiki_pages_controller.rb
  app/javascript/src/styles/base.scss
  app/javascript/src/styles/specific/wiki_pages.scss
  app/models/wiki_page.rb
  app/views/wiki_page_versions/diff.html.erb
  app/views/wiki_page_versions/show.html.erb
  app/views/wiki_pages/_form.html.erb
  app/views/wiki_pages/_search.html.erb
  app/views/wiki_pages/show.html.erb
  db/migrate/20240726170041_add_wiki_page_parent_name.rb
  db/structure.sql
Labels: Type: Feature, Lang: Ruby, Lang: HTML, Lang: SQL, WikiPages, Lang: CSS

#684 [Posts] Standardize thumbnail attributes
  app/controllers/concerns/deferred_posts.rb
  app/decorators/posts_decorator.rb
  app/javascript/src/javascripts/blacklists.js
  app/javascript/src/javascripts/thumbnails.js
  app/models/post.rb
  app/presenters/post_presenter.rb
Labels: Type: Bug, Lang: Ruby, Lang: JS, Posts

#687 [Blacklist] Rewrite blacklist normalization
  app/jobs/tag_batch_job.rb
  app/models/tag_alias.rb
  app/models/user.rb
Labels: Type: Feature, Lang: Ruby, Blacklist

#689 [Misc] Add a localStorage wrapper
  app/javascript/src/javascripts/autocompletable_input.vue
  app/javascript/src/javascripts/blacklists.js
  app/javascript/src/javascripts/common.js
  app/javascript/src/javascripts/local_storage.js
  app/javascript/src/javascripts/mascots.js
  app/javascript/src/javascripts/mod_queue.js
  app/javascript/src/javascripts/news_updates.js
  app/javascript/src/javascripts/post_mode_menu.js
  app/javascript/src/javascripts/post_sets.js
  app/javascript/src/javascripts/posts.js
  app/javascript/src/javascripts/thumbnails.js
  app/javascript/src/javascripts/utility/storage.js
  app/javascript/src/javascripts/utility/storage_util.js
Labels: Lang: JS

#692 [Artists] Fix the edit permission quirks
  app/controllers/artists_controller.rb
  app/models/artist.rb
  app/views/artists/_secondary_links.html.erb
Labels: Type: Bug, Lang: Ruby, Artists
