Repository e621ng/e621ng, pull requests merged in 2024-12, with the labels that each got.

#806 [WikiPages] Normalize title in show_or_new
  app/controllers/wiki_pages_controller.rb
Labels: Type: Bug, Lang: Ruby, WikiPages

#820 [Blips] Fix an error when a blip is deleted
  app/controllers/blips_controller.rb
Labels: Type: Bug, Lang: Ruby, Blips

#821 [Security] Implement read only mode
  .rubocop_todo.yml
  app/controllers/admin/danger_zone_controller.rb
  app/controllers/blips_controller.rb
  app/controllers/bulk_update_requests_controller.rb
  app/controllers/comment_votes_controller.rb
  app/controllers/comments_controller.rb
  app/controllers/favorites_controller.rb
  app/controllers/forum_post_votes_controller.rb
  app/controllers/forum_posts_controller.rb
  app/controllers/forum_topics_controller.rb
  app/controllers/pools_controller.rb
  app/controllers/post_replacements_controller.rb
  app/controllers/post_sets_controller.rb
  app/controllers/post_votes_controller.rb
  app/controllers/posts_controller.rb
  app/controllers/security/dashboard_controller.rb
  app/controllers/security/lockdown_controller.rb
  app/controllers/tag_alias_requests_controller.rb
  app/controllers/tag_implication_requests_controller.rb
  app/controllers/uploads_controller.rb
  app/javascript/src/styles/base.scss
  app/javascript/src/styles/specific/lockdown.scss
  app/logical/danger_zone.rb
  app/logical/elastic_post_query_builder.rb
  app/logical/security/lockdown.rb
  app/views/admin/danger_zone/index.html.erb
  app/views/security/dashboard/index.html.erb
  app/views/static/site_map.html.erb
  config/routes.rb
  test/functional/admin/danger_zone_controller_test.rb
  test/functional/security/lockdown_controller_test.rb
  test/functional/uploads_controller_test.rb
Labels: Type: Feature, Lang: Ruby, Lang: HTML, Security

#824 [Posts] Fix an issue with the "no results" message
  app/javascript/src/styles/common/thumbnails.scss
  app/views/posts/_blank.html.erb
Labels: Posts

#825 [Users] Rework login pages and increase password requirements
  Gemfile
  Gemfile.lock
  README.md
  app/javascript/src/javascripts/password.js
  app/javascript/src/styles/base.scss
  app/javascript/src/styles/specific/maintenance.scss
  app/javascript/src/styles/specific/users.scss
  app/models/user.rb
  app/views/maintenance/user/login_reminders/new.html.erb
  app/views/maintenance/user/password_resets/edit.html.erb
  app/views/maintenance/user/password_resets/new.html.erb
  app/views/maintenance/user/passwords/edit.html.erb
  app/views/sessions/new.html.erb
  app/views/users/new.html.erb
  db/populate.rb
  db/seeds.rb
  package.json
  test/factories/user.rb
  test/functional/application_controller_test.rb
  test/functional/maintenance/user/api_keys_controller_test.rb
  test/functional/maintenance/user/deletions_controller_test.rb
  test/functional/maintenance/user/email_changes_controller_test.rb
  test/functional/sessions_controller_test.rb
  test/functional/users_controller_test.rb
  test/unit/user_deletion_test.rb
  test/unit/user_test.rb
  yarn.lock
Labels: Type: Feature, Lang: Ruby, Lang: JS, Lang: HTML, Users

#813 Consolidate password confirmation into singular route
  app/controllers/application_controller.rb
  app/controllers/maintenance/user/api_keys_controller.rb
  app/controllers/sessions_controller.rb
  app/javascript/src/styles/specific/sessions.scss
  app/javascript/src/styles/specific/users.scss
  app/logical/session_creator.rb
  app/views/maintenance/user/api_keys/show.html.erb
  app/views/maintenance/user/api_keys/view.html.erb
  app/views/sessions/confirm_password.html.erb
  app/views/sessions/new.html.erb
  config/routes.rb
  test/functional/application_controller_test.rb
  test/functional/maintenance/user/api_keys_controller_test.rb
  test/functional/sessions_controller_test.rb
  test/test_helper.rb
Labels: Type: Feature, Lang: Ruby, Security

#794 [Posts] Add contributor category
  app/indexes/post_index.rb
  app/javascript/src/javascripts/tag_editor.vue
  app/javascript/src/javascripts/uploader/uploader.vue.erb
  app/javascript/src/styles/base/_colors.scss
  app/javascript/src/styles/themes/_theme_hexagon.scss
  app/logical/tag_category.rb
  app/views/stats/index.html.erb
  db/fixes/122_1_add_contributor_category_index.rb
  db/fixes/122_2_add_contributor_category_data.rb
  db/migrate/20241114055212_add_contributor_category.rb
  db/structure.sql
Labels: Type: Feature, Lang: Ruby, Lang: SQL, Tags

#826 [Seeding] Always enable mascots
  db/seeds.rb
Labels: Type: Bug, Lang: Ruby

#827 [Users] Fix login input styles
  app/javascript/src/styles/specific/users.scss
  app/views/sessions/new.html.erb
Labels: Type: Bug, Lang: CSS
