Repository e621ng/e621ng, pull requests merged in 2024-08, with the labels that each got.

#582 Integrate the avoid posting list into the site
  app/controllers/application_controller.rb
  app/controllers/artists_controller.rb
  app/controllers/avoid_posting_versions_controller.rb
  app/controllers/avoid_postings_controller.rb
  app/controllers/static_controller.rb
  app/decorators/mod_action_decorator.rb
  app/helpers/artists_helper.rb
  app/helpers/avoid_posting_helper.rb
  app/javascript/src/styles/base.scss
  app/javascript/src/styles/specific/avoid_posting.scss
  app/javascript/src/styles/specific/posts.scss
  app/logical/upload_service.rb
  app/models/artist.rb
  app/models/avoid_posting.rb
  app/models/avoid_posting_version.rb
  app/models/mod_action.rb
  app/models/post.rb
  app/models/user.rb
  app/views/artists/_form.html.erb
  app/views/artists/_secondary_links.html.erb
  app/views/artists/_show.html.erb
  app/views/avoid_posting_versions/_search.html.erb
  app/views/avoid_posting_versions/_secondary_links.html.erb
  app/views/avoid_posting_versions/index.html.erb
  app/views/avoid_postings/_form.html.erb
  app/views/avoid_postings/_search.html.erb
  app/views/avoid_postings/_secondary_links.html.erb
  app/views/avoid_postings/edit.html.erb
  app/views/avoid_postings/index.html.erb
  app/views/avoid_postings/new.html.erb
  app/views/avoid_postings/show.html.erb
  app/views/posts/partials/show/_avoid_posting.html.erb
  app/views/posts/partials/show/_notices.html.erb
  app/views/static/avoid_posting.html.erb
  app/views/static/site_map.html.erb
  app/views/uploads/new.html.erb
  config/danbooru_default_config.rb
  config/routes.rb
  db/fixes/118_create_avoid_postings_from_implications.rb
  db/migrate/20240103002040_create_avoid_postings.rb
  db/migrate/20240103002049_create_avoid_posting_versions.rb
  db/structure.sql
  test/controllers/avoid_postings_controller_test.rb
  test/factories/avoid_posting.rb
  test/functional/artists_controller_test.rb
  test/unit/avoid_posting_test.rb
Labels: Lang: Ruby, Lang: HTML, Lang: SQL, Avoid Posting

#703 [Posts] Fix a bug that broke voting on deleted videos
  app/javascript/src/javascripts/posts.js
Labels: Type: Bug, Lang: JS

#706 Avoid posting cleanup
  app/controllers/avoid_posting_versions_controller.rb
  app/controllers/avoid_postings_controller.rb
  app/controllers/static_controller.rb
  app/javascript/src/styles/specific/posts.scss
  app/models/avoid_posting.rb
  app/models/avoid_posting_version.rb
  app/views/artists/_form.html.erb
  app/views/artists/_secondary_links.html.erb
  app/views/artists/_show.html.erb
  app/views/avoid_posting_versions/_search.html.erb
  app/views/avoid_postings/_search.html.erb
  app/views/avoid_postings/edit.html.erb
  app/views/avoid_postings/index.html.erb
  app/views/avoid_postings/show.html.erb
  app/views/static/site_map.html.erb
  config/danbooru_default_config.rb
  test/controllers/avoid_postings_controller_test.rb
  test/factories/avoid_posting.rb
Labels: Type: Bug, Lang: Ruby, Lang: HTML, Avoid Posting

#707 [Posts] Fix mode menu add/remove from set alerts
  app/javascript/src/javascripts/post_mode_menu.js
  app/javascript/src/javascripts/post_sets.js
Labels: Lang: JS, Posts

#708 [ApngInspector] Change length to bytesize
  app/logical/apng_inspector.rb
Labels: Type: Bug, Lang: Ruby

#710 [Posts] Fix the quick edit form not working correctly
  app/controllers/posts_controller.rb
Labels: Type: Bug, Lang: Ruby, Posts

#711 [PostSets] Bundle add/remove requests
  app/javascript/src/javascripts/post_mode_menu.js
  app/javascript/src/javascripts/post_sets.js
  app/javascript/src/styles/specific/post_mode_menu.scss
Labels: Type: Bug, Lang: JS, Post Sets

#704 [FileInput] Check file size per type
  app/javascript/src/javascripts/uploader/file_input.vue
  app/views/post_replacements/_new.html.erb
  app/views/uploads/new.html.erb
Labels: Type: Bug, Lang: Vue, Uploads

#715 [CSS] Tweak palette text colors
  app/javascript/src/styles/base/_palette.scss
Labels: Type: Bug, Lang: CSS

#717 [Flags] Only show the most recent deletion flag to non-staff
  app/views/posts/partials/show/_flag_reasons.html.erb
Labels: Type: Feature, Lang: Ruby, Post Flags

#713 [AvoidPosting] Add caching, order search, and tweak modactions
  app/controllers/avoid_postings_controller.rb
  app/decorators/mod_action_decorator.rb
  app/helpers/avoid_posting_helper.rb
  app/models/avoid_posting.rb
  app/views/avoid_postings/_search.html.erb
Labels: Type: Feature, Lang: Ruby, Avoid Posting

#716 [Uploader] Redesign the file input
  app/javascript/src/javascripts/uploader/file_input.vue
  app/javascript/src/styles/base.scss
  app/javascript/src/styles/specific/uploads_file.scss
Labels: Type: Feature, Lang: Vue, Lang: CSS, Uploads

#720 [Blacklist] Fix minor issues
  app/javascript/src/javascripts/models/Filter.js
  app/javascript/src/javascripts/models/PostCache.js
  app/javascript/src/styles/common/blacklists.scss
Labels: Type: Bug, Lang: JS, Blacklist

#722 [Blacklist] Fix the anonymous blacklist
  app/javascript/src/javascripts/utility/storage.js
Labels: Type: Bug, Lang: JS, Blacklist

#725 [Blacklist] More fixes
  app/helpers/application_helper.rb
  app/javascript/src/javascripts/blacklists.js
  app/javascript/src/javascripts/models/Filter.js
  app/javascript/src/javascripts/models/PostCache.js
  app/javascript/src/javascripts/thumbnails.js
  app/javascript/src/javascripts/utility/storage_util.js
Labels: Type: Bug, Lang: JS, Blacklist

#724 [A/I] Flip button
  app/views/tag_relationships/_command_buttons.html.erb
Labels: Type: Feature, Lang: Ruby, AIBUR

#730 [Users] Fix a typo on the settings page
  app/views/users/edit.html.erb
Labels: Type: Bug, Lang: HTML, Users

#729 [Blacklist] Even more fixes
  app/javascript/src/javascripts/blacklists.js
  app/javascript/src/javascripts/models/PostCache.js
  app/javascript/src/styles/common/_comment_container.scss
Labels: Type: Bug, Lang: JS, Lang: CSS, Blacklist

#731 Mobile Fixes
  app/javascript/src/javascripts/blacklists.js
  app/javascript/src/styles/common/blacklists.scss
  app/javascript/src/styles/common/dtext.scss
  app/javascript/src/styles/common/z_responsive.scss
  app/javascript/src/styles/specific/uploads.scss
  app/javascript/src/styles/specific/uploads_file.scss
  app/views/posts/partials/common/_blacklist_editor.html.erb
Labels: Type: Bug, Lang: HTML, Lang: CSS

#732 [Blacklist] Add wildcard support
  app/javascript/src/javascripts/models/Filter.js
  app/javascript/src/javascripts/utility/filter_util.js
Labels: Lang: JS, Blacklist

#733 [Blacklist] Mark posts that match any filters
  app/javascript/src/javascripts/blacklists.js
  app/javascript/src/javascripts/thumbnails.js
  app/javascript/src/styles/specific/posts.scss
Labels: Type: Feature, Lang: JS, Posts, Lang: CSS, Blacklist

#701 [Uploads] Fix error with direct url & no sources
  app/models/upload.rb
Labels: Type: Bug, Lang: Ruby, Uploads

#645 [Notes] Double click to edit note
  app/javascript/src/javascripts/notes.js
Labels: Type: Feature, Lang: JS, Pools

#739 [Gems] Update rexml and ruby-lsp-rails
  Gemfile
  Gemfile.lock
Labels: Lang: Ruby

#740 [Uploads] Show the unload warning if any tags are filled in
  app/javascript/src/javascripts/uploader/uploader.vue.erb
Labels: Type: Feature, Lang: Vue, Uploads
