Repository e621ng/e621ng, pull requests merged in 2024-10, with the labels that each got.

#767 Fix atom feed invalid source href in link
  app/views/posts/index.atom.erb
Labels: Type: Bug, Posts

#770 [Artists] Turn domain names into search links
  app/views/artists/_summary.html.erb
Labels: Type: Feature, Lang: HTML, Artists

#771 [WikiPages] Sort tag relationship lists alphabetically
  app/views/tags/_alias_and_implication_list.html.erb
Labels: WikiPages

#763 Add support for folding displays
  app/javascript/src/styles/common/z_responsive.scss
Labels: Type: Bug

#769 [Posts] Fix pool metatags with capital letters
  app/models/post.rb
  test/unit/post_test.rb
Labels: Lang: Ruby, Posts

#727 [Admin] Add limit note to reowner & stuck dnp
  app/views/admin/reowner/new.html.erb
  app/views/admin/stuck_dnp/new.html.erb
Labels: Type: Feature

#718 [Flags] Flip inferior flag
  app/javascript/src/javascripts/posts.js
  app/views/posts/partials/show/_notices.html.erb
Labels: Lang: Ruby, Lang: JS, Post Flags

#772 [PostVersions] Reimplement Query as subclass of ElasticQueryBuilder
  app/controllers/post_versions_controller.rb
  app/logical/elastic_post_version_query_builder.rb
  app/logical/elastic_query_builder.rb
  app/models/post_version.rb
Labels: Type: Feature, Post Versions

#749 [Posts] Add back comment disabling
  app/controllers/posts_controller.rb
  app/logical/vote_manager.rb
  app/models/comment.rb
  app/models/post.rb
  app/models/post_event.rb
  app/views/comments/_index_by_post.html.erb
  app/views/comments/partials/index/_list.html.erb
  app/views/post_events/_search.html.erb
  app/views/posts/partials/show/_edit.html.erb
  db/fixes/119_convert_comment_disabled_to_locked.rb
  db/migrate/20240905160626_add_is_comment_locked_to_posts.rb
  db/structure.sql
  test/functional/comment_votes_controller_test.rb
  test/functional/comments_controller_test.rb
  test/functional/posts_controller_test.rb
  test/unit/comment_test.rb
Labels: Type: Feature, Lang: Ruby, Lang: SQL, Comments

#774 [Posts] Add a button to apply a tag script to all posts on the page
  app/javascript/src/javascripts/post_mode_menu.js
  app/javascript/src/styles/specific/post_mode_menu.scss
  app/views/posts/partials/index/_mode_menu.html.erb
Labels: Type: Feature, Lang: JS, Posts

#776 [PostReplacements] Add a DNP notice
  app/javascript/src/javascripts/utility/storage.js
  app/javascript/src/styles/specific/post_replacements.scss
  app/javascript/src/styles/specific/posts.scss
  app/views/post_replacements/_new.html.erb
Labels: Type: Feature, Lang: HTML, Post Replacements, Lang: CSS

#775 [Posts] Add a set navbar button to remove the post from that said
  app/javascript/src/javascripts/post_sets.js
  app/views/posts/partials/show/_post_set_list_item.html.erb
Labels: Lang: JS, Posts, Post Sets
