Repository e621ng/e621ng, pull requests merged in 2024-11, with the labels that each got.

#700 [HelpPages] Fix json & move modaction logging
  app/controllers/help_controller.rb
  app/models/help_page.rb
Labels: Type: Bug, Lang: Ruby, HelpPages

#780 Fixed non-critical typo in blacklist filter parsing
  app/javascript/src/javascripts/utility/filter_util.js
Labels: Type: Bug, Lang: JS, Blacklist

#783 [Autocomplete] Remove mp4 from file type completion
  app/javascript/src/javascripts/autocomplete.js.erb
Labels: Lang: JS, Autocomplete

#787 [PostVersions] Fix ordering
  app/logical/elastic_post_version_query_builder.rb
Labels: Type: Bug, Lang: Ruby, Post Versions

#760 [DangerZone] Allow admins to hide pending posts for a specified amount of hours
  app/controllers/admin/danger_zone_controller.rb
  app/controllers/posts_controller.rb
  app/logical/danger_zone.rb
  app/logical/elastic_post_query_builder.rb
  app/views/admin/danger_zone/index.html.erb
  config/routes.rb
  test/functional/admin/danger_zone_controller_test.rb
Labels: Type: Feature, Posts

#699 [UserInput] Add newline normalization
  app/models/blip.rb
  app/models/comment.rb
  app/models/dmail.rb
  app/models/forum_post.rb
  app/models/note.rb
  app/models/pool.rb
  app/models/post.rb
  app/models/ticket.rb
  app/models/user.rb
  app/models/user_feedback.rb
  app/models/wiki_page.rb
Labels: Type: Bug, Lang: Ruby

#784 [Blacklist] Add fuzzy direct equality to filesize blacklist tag
  app/javascript/src/javascripts/models/Filter.js
Labels: Type: Feature, Lang: JS, Blacklist

#789 [Posts] Fix thumbnail issues
  app/javascript/src/styles/common/z_responsive.scss
  app/javascript/src/styles/specific/users.scss
Labels: Type: Bug, Posts, Lang: CSS

#777 [ModActions] Add value field whitelist
  app/models/mod_action.rb
  app/views/mod_actions/_search.html.erb
Labels: Type: Feature, Lang: Ruby, ModActions

#796 [Posts] Rewrite the thumbnail styles
  app/decorators/posts_decorator.rb
  app/helpers/application_helper.rb
  app/helpers/posts_helper.rb
  app/javascript/src/javascripts/post_mode_menu.js
  app/javascript/src/styles/base.scss
  app/javascript/src/styles/base/_vars.scss
  app/javascript/src/styles/common/blacklists.scss
  app/javascript/src/styles/common/thumbnails.scss
  app/javascript/src/styles/common/z_responsive.scss
  app/javascript/src/styles/specific/iqdb_queries.scss
  app/javascript/src/styles/specific/post_mode_menu.scss
  app/javascript/src/styles/specific/posts.scss
  app/javascript/src/styles/specific/users.scss
  app/presenters/post_presenter.rb
  app/presenters/user_presenter.rb
  app/views/favorites/index.html.erb
  app/views/layouts/_head.html.erb
  app/views/pools/gallery.html.erb
  app/views/pools/show.html.erb
  app/views/popular/index.html.erb
  app/views/posts/partials/index/_posts.html.erb
  app/views/posts/partials/index/_preview.html.erb
  app/views/users/_post_summary.html.erb
Labels: Lang: HTML, Type: Project, Posts, Lang: CSS

#802 [UserFeedbacks] Allow janitors to see deleted feedback
  app/controllers/user_feedbacks_controller.rb
  app/models/user_feedback.rb
  app/views/user_feedbacks/_search.html.erb
  app/views/user_feedbacks/index.html.erb
  app/views/users/_statistics.html.erb
Labels: Type: Feature, Lang: Ruby, UserFeedbacks

#805 [Blacklist] Fix thumbnails not getting marked as matching the blacklist
  app/javascript/src/styles/common/thumbnails.scss
Labels: Type: Bug, Lang: CSS, Blacklist
