Repository e621ng/e621ng, pull requests merged in 2025-10, with the labels that each got.

#1357 [CI] Run tests only if other checks succeed
  .github/workflows/checks.yml
Labels: Type: Bug

#1363 [Yarn] Upgrade and deduplicate packages
  yarn.lock
Labels: Type: Dependencies

#1359 [Uploads] Move the "Add Source" button above the source list
  app/javascript/src/javascripts/uploader/sources.vue
  app/javascript/src/styles/views/uploads/new/_new.scss
Labels: Type: Feature, Lang: Vue, Uploads

#1364 [Uploads] Add keyboard navigation to the source list
  app/javascript/src/javascripts/uploader/file_source.vue
  app/javascript/src/javascripts/uploader/sources.vue
Labels: Type: Feature, Lang: Vue, Uploads

#1353 [Dialog] Minor dialog enhancements
  app/javascript/src/javascripts/utility/dialog.js
Labels: Lang: JS, UI

#1349 [TagPreview] Fix invalid tag detection
  app/javascript/src/javascripts/uploader/tag_preview_tag.vue
  app/javascript/src/styles/specific/related_tags.scss
Labels: Type: Bug, Lang: Vue, Tags

#1351 [TagPreview] Add implication tooltips
  app/javascript/src/javascripts/uploader/tag_preview.vue
  app/javascript/src/javascripts/uploader/tag_preview_tag.vue
Labels: Type: Feature, Lang: Vue, Tags

#1354 [Static] Tweaks to the discord page
  app/controllers/static_controller.rb
  app/javascript/src/styles/views/static/_discord.scss
  app/javascript/src/styles/views/static/_static.scss
  app/views/static/discord.html.erb
Labels: Type: Feature, Lang: CSS

#1342 [Posts] Fix MP4 videos not pausing when the blacklist is toggled
  app/javascript/src/javascripts/blacklists.js
Labels: Type: Bug, Lang: JS, Blacklist

#1346 [Notes] Rework the notes UI to remove the jquery-ui dependency.
  app/controllers/notes_controller.rb
  app/javascript/src/javascripts/blacklists.js
  app/javascript/src/javascripts/notes.js
  app/javascript/src/javascripts/posts.js
  app/javascript/src/javascripts/utility/dialog.js
  app/javascript/src/javascripts/views/PostsShowToolbar.js
  app/javascript/src/styles/base.scss
  app/javascript/src/styles/common/_standard_elements.scss
  app/javascript/src/styles/common/_standard_variables.scss
  app/javascript/src/styles/specific/notes.scss
  app/javascript/src/styles/views/application/_dialog.scss
  app/javascript/src/styles/views/posts/show/_show.scss
  app/javascript/src/styles/views/posts/show/partials/_notes.scss
  app/models/post.rb
  app/views/notes/_dialog.html.erb
  app/views/posts/partials/show/content/_translated.html.erb
  app/views/posts/partials/show/sidebar/_options.html.erb
  app/views/posts/show.html.erb
Labels: Type: Feature, Lang: JS, Lang: CSS, Notes

#1367 [Misc] Remove unused jquery-ui dependencies
  app/javascript/packs/application.js
  app/javascript/src/javascripts/blacklists.js
  app/javascript/src/javascripts/models/User.js
  app/javascript/src/javascripts/post_sets.js
  package.json
  yarn.lock
Labels: Lang: JS, Type: Dependencies

#1369 [Misc] Remove the old image thumbnailer
  app/logical/danbooru_image_resizer.rb
  app/logical/post_thumbnailer.rb
  app/logical/upload_service/utils.rb
Labels: Type: Bug, Lang: Ruby

#1372 [Misc] Fix notification toasts on the home page
  app/views/layouts/blank.html.erb
  app/views/layouts/default.html.erb
Labels: Type: Bug, Lang: HTML, UI

#698 [Tags] Alias antecedent ignore
  app/logical/tag_name_validator.rb
  app/models/tag_alias.rb
  app/models/tag_implication.rb
  app/models/tag_relationship.rb
  test/unit/tag_alias_test.rb
Labels: Type: Bug, Lang: Ruby, AIBUR

#1373 [Misc] Re-organize favicons
  app/views/layouts/_favicon.html.erb
  app/views/layouts/_head.html.erb
  public/favicon-96x96.png
  public/favicon.svg
  public/manifest.json
Labels: Lang: HTML

#1379 [Misc] Fix ESLint not linting JS files in subdirectories
  app/javascript/src/javascripts/models/Favorite.js
  app/javascript/src/javascripts/models/Filter.js
  app/javascript/src/javascripts/models/PostVote.js
  app/javascript/src/javascripts/utility/offclick.js
  app/javascript/src/javascripts/utility/task_queue.js
  app/javascript/src/javascripts/utility/text_util.js
  app/javascript/src/javascripts/views/PostsShowToolbar.js
  eslint.config.mjs
  package.json
Labels: Type: Bug, Lang: JS
