Repository e621ng/e621ng, pull requests merged in 2025-02, with the labels that each got.

#872 [NewsUpdates] Fix an issue with the links still being clickable when the news section is closed
  app/javascript/src/styles/common/news.scss
  app/views/news_updates/_notice.erb
Labels: Type: Bug, Lang: CSS, NewsUpdates

#863 [Uploads] Add the contributor category to related tags
  app/javascript/src/javascripts/uploader/uploader.vue.erb
Labels: Type: Bug, Lang: HTML, Uploads

#882 [Misc] Redesign the guest warning dialog
  app/javascript/src/styles/common/z_responsive.scss
  app/javascript/src/styles/specific/guest_warning.scss
  app/views/static/_guest_warning.html.erb
Labels: Type: Feature, Lang: CSS, UI

#874 [Stats] Fix an issue caused by division by zero
  app/logical/stats_updater.rb
  app/views/stats/_percentage_table.html.erb
Labels: Type: Bug, Lang: Ruby

#873 [Pagination] Add a way to quickly travel to specific pages
  app/helpers/pagination_helper.rb
  app/javascript/src/javascripts/paginator.js
Labels: Type: Feature, Lang: JS, Pagination

#877 [Posts] Fix the misaligned related post issue
  app/javascript/src/styles/specific/posts.scss
Labels: Type: Bug, Posts, Lang: CSS, Blacklist

#875 [Posts] Tweak the wiki excerpt toggle behavior
  app/javascript/src/javascripts/post_search.js
  app/javascript/src/styles/specific/post_index.scss
  app/views/posts/partials/index/_posts.html.erb
Labels: Type: Bug, Lang: JS, Pools, Lang: CSS

#860 [UI] Add version indicator in footer
  app/javascript/src/styles/common/_footer.scss
  app/logical/git_helper.rb
  app/views/static/_footer.html.erb
Labels: Type: Feature, Lang: Ruby, Lang: HTML, Lang: CSS, UI

#883 [Posts] Allow priv+ to use the "all" tag script button
  app/views/posts/partials/index/_mode_menu.html.erb
Labels: Type: Feature, Lang: HTML, Posts

#859 [UserFeedbacks] Restore deleted user feedbacks from staff notes
  app/models/user_feedback.rb
  db/fixes/123_convert_staffnote_to_deleted_feedback.rb
  test/functional/user_feedbacks_controller_test.rb
Labels: Type: Feature, Lang: Ruby, UserFeedbacks

#881 [Home] Rework the search form to use the extra buttons
  app/javascript/src/javascripts/home.js
  app/javascript/src/styles/specific/home.scss
  app/views/static/home.html.erb
Labels: Type: Feature, Lang: JS, Lang: CSS, Home

#884 [UI] Rework the navbar to include the user avatar
  app/helpers/application_helper.rb
  app/javascript/src/javascripts/navigation.js
  app/javascript/src/javascripts/thumbnails.js
  app/javascript/src/styles/common/navigation.scss
  app/views/layouts/_nav.html.erb
  app/views/layouts/blank.html.erb
Labels: Type: Feature, Lang: Ruby, Lang: HTML, Lang: CSS, UI

#837 [Comments] Fix comments show page bug
  app/views/comments/partials/show/_comment.html.erb
Labels: Type: Bug, Lang: Ruby, Comments

#886 [Pagination] Rework the pagination styles
  app/helpers/icon_helper.rb
  app/helpers/pagination_helper.rb
  app/javascript/src/javascripts/paginator.js
  app/javascript/src/javascripts/shortcuts.js
  app/javascript/src/styles/common/paginator.scss
  app/javascript/src/styles/specific/post_index.scss
Labels: Type: Feature, Lang: Ruby, Lang: HTML, Lang: CSS, Pagination

#885 [Misc] Remove debug output
  app/javascript/src/javascripts/home.js
  app/javascript/src/javascripts/news_updates.js
  app/javascript/src/javascripts/post_mode_menu.js
  app/javascript/src/javascripts/thumbnails.js
Labels: Type: Bug

#887 [Pagination] Fix spacing on desktop
  app/javascript/src/styles/common/paginator.scss
Labels: Type: Bug, Lang: CSS, Pagination

#888 [UI] Fix an overflow issue in the footer
  app/javascript/src/styles/common/_footer.scss
Labels: Type: Bug, Lang: CSS, UI

#889 [Misc] Fix a sitemap overflow issue
  app/javascript/src/styles/specific/site_map.scss
  app/views/static/site_map.html.erb
Labels: Type: Bug, Lang: CSS

#890 [Posts] Touch up the search index page UI
  app/helpers/icon_helper.rb
  app/javascript/src/javascripts/post_search.js
  app/javascript/src/javascripts/utility/storage.js
  app/javascript/src/styles/base.scss
  app/javascript/src/styles/common/_standard_elements.scss
  app/javascript/src/styles/common/_standard_variables.scss
  app/javascript/src/styles/specific/post_index.scss
  app/javascript/src/styles/specific/post_mode_menu.scss
  app/views/layouts/_theme_include.html.erb
  app/views/posts/index.html.erb
  app/views/posts/partials/index/_controls.html.erb
Labels: Type: Feature, Lang: JS, Lang: HTML, Posts, Lang: CSS

#891 [UI] Switch to Lucide icons for the main menu
  app/helpers/application_helper.rb
  app/helpers/icon_helper.rb
  app/javascript/src/styles/common/navigation.scss
  app/views/layouts/_main_links.html.erb
  app/views/layouts/_nav.html.erb
Labels: Type: Feature, Lang: Ruby, Lang: CSS, UI

#892 [Misc] Fix a couple of login style issues
  app/javascript/src/styles/common/navigation.scss
  app/javascript/src/styles/specific/users.scss
Labels: Type: Bug, Lang: CSS

#894 [UserFeedbacks] Fix errors when restoring from ancient mod actions
  db/fixes/123_convert_staffnote_to_deleted_feedback.rb
Labels: Type: Bug, Lang: Ruby

#895 [PostVersions] Fix the misaligned dividers in the subnav
  app/views/post_versions/_secondary_links.html.erb
Labels: Type: Bug, Post Versions, Lang: CSS

#896 [Posts] Add an option to disable wiki excerpts
  app/helpers/icon_helper.rb
  app/javascript/src/javascripts/post_search.js
  app/javascript/src/javascripts/themes.js
  app/javascript/src/javascripts/utility/storage.js
  app/javascript/src/styles/common/_standard_elements.scss
  app/javascript/src/styles/specific/post_index.scss
  app/javascript/src/styles/specific/themes.scss
  app/views/posts/partials/index/_posts.html.erb
  app/views/static/theme.html.erb
Labels: Type: Feature, Lang: JS, Lang: HTML, Posts, Lang: CSS

#897 [Posts] Fix a but that broke pressing enter to search
  app/javascript/src/javascripts/post_search.js
Labels: Type: Bug, Lang: JS, Posts

#898 [Pagination] Fix overflow, usability, and accessibility issues
  app/helpers/pagination_helper.rb
  app/javascript/src/javascripts/paginator.js
  app/javascript/src/styles/common/paginator.scss
Labels: Type: Bug, Lang: JS, Lang: CSS, Pagination

#899 [Posts] Prevent wiki excerpt from briefly being on the screen when hidden
  app/javascript/src/javascripts/post_search.js
  app/views/posts/partials/index/_posts.html.erb
Labels: Type: Bug, Lang: JS, Posts

#901 [UserFeedback] Fix filtering nil during restoration
  db/fixes/123_convert_staffnote_to_deleted_feedback.rb
Labels: Type: Bug, Lang: Ruby, UserFeedbacks

#902 [CSS] Begin refactoring view-specific styles
  app/javascript/src/styles/base.scss
  app/javascript/src/styles/base/_themable.scss
  app/javascript/src/styles/specific/post_index.scss
  app/javascript/src/styles/views/posts/_posts.scss
  app/javascript/src/styles/views/posts/index/_index.desktop.scss
  app/javascript/src/styles/views/posts/index/_index.scss
  app/javascript/src/styles/views/posts/index/partials/_fullscreen.scss
  app/javascript/src/styles/views/posts/index/partials/_mode_menu.scss
  app/javascript/src/styles/views/posts/index/partials/_wiki_excerpt.scss
Labels: Type: Project, Lang: CSS

#900 [Takedowns] Fix a couple of buttons linebreaking
  app/javascript/src/javascripts/takedowns.js
Labels: Type: Bug, Lang: JS, Takedowns

#903 [Posts] Add an approximate result counter
  app/helpers/pagination_helper.rb
  app/javascript/src/styles/views/posts/_posts.scss
  app/javascript/src/styles/views/posts/index/partials/_stats.scss
  app/views/posts/index.html.erb
  app/views/posts/partials/index/_stats.html.erb
Labels: Type: Feature, Lang: Ruby, Lang: HTML, Posts, Lang: CSS

#904 [Pagination] Fix the keyboard shortcuts
  app/helpers/pagination_helper.rb
Labels: Type: Bug, Lang: Ruby, Pagination

#906 [Posts] Replace the old Google RIS link with Lens
  app/views/posts/show.html.erb
Labels: Type: Bug, Posts

#907 [Posts] Fix a bug caused by quotes in a wiki excerpt
  app/javascript/src/styles/views/posts/index/partials/_wiki_excerpt.scss
Labels: Type: Bug, Posts

#909 [Posts] Add redirect support to wiki excerpts
  app/controllers/posts_controller.rb
Labels: Type: Feature, Posts

#910 [Posts] Replace the search submit icon with a lucide one
  app/helpers/icon_helper.rb
  app/javascript/src/styles/common/post_search.scss
  app/javascript/src/styles/specific/home.scss
  app/views/posts/partials/common/_search.html.erb
  app/views/static/home.html.erb
Labels: Type: Feature, Posts, Lang: CSS

#911 [Posts] Add an option for a sticky searchbar
  app/helpers/icon_helper.rb
  app/javascript/src/javascripts/post_search.js
  app/javascript/src/javascripts/utility/storage.js
  app/javascript/src/styles/common/tables.scss
  app/javascript/src/styles/views/posts/_posts.scss
  app/javascript/src/styles/views/posts/index/_index.desktop.scss
  app/javascript/src/styles/views/posts/index/_index.scss
  app/javascript/src/styles/views/posts/index/partials/_fullscreen.scss
  app/javascript/src/styles/views/posts/index/partials/_sticky.scss
  app/views/layouts/_theme_include.html.erb
  app/views/posts/partials/index/_controls.html.erb
Labels: Type: Feature, Lang: JS, Posts, Lang: CSS

#912 [UI] Fix the main menu layering over the post notes
  app/javascript/src/styles/common/navigation.scss
Labels: Type: Bug, Lang: CSS, UI

#913 [Posts] Increase the sidebar font size on mobile.
  app/javascript/src/styles/views/posts/index/_index.desktop.scss
  app/javascript/src/styles/views/posts/index/_index.scss
Labels: Type: Bug, Posts, Lang: CSS

#914 [Themes] Add a toggle for WikiExcerpt in theme settings
  app/javascript/src/javascripts/post_search.js
  app/javascript/src/javascripts/themes.js
  app/javascript/src/javascripts/utility/storage.js
  app/javascript/src/styles/views/posts/_posts.scss
  app/views/layouts/_theme_include.html.erb
  app/views/static/theme.html.erb
Labels: Type: Feature, Lang: JS, Themes

#915 [Posts] Fix a layering bug in fullscreen mode
  app/javascript/src/styles/views/posts/index/partials/_fullscreen.scss
Labels: Type: Bug, Posts, Lang: CSS

#916 [UI] Prevent the header avatar from being reloaded any time deferred posts are fetched
  app/helpers/application_helper.rb
  app/javascript/src/javascripts/thumbnails.js
Labels: Type: Bug, Lang: JS, UI

#921 [Posts] Tweak the sidebar styles
  app/javascript/src/styles/views/posts/index/_index.desktop.scss
  app/javascript/src/styles/views/posts/index/_index.scss
  app/javascript/src/styles/views/posts/index/partials/_fullscreen.scss
  app/javascript/src/styles/views/posts/index/partials/_sticky.scss
Labels: Type: Feature, Posts, Lang: CSS, UI

#923 [Artist] Change search field 'linked' from true/any to true/false/any
  app/models/artist.rb
  app/views/artists/_search.html.erb
Labels: Type: Feature, Lang: Ruby, Artists

#918 [UI] Add an extra hidden profile link to the primary menu
  app/helpers/icon_helper.rb
  app/javascript/src/styles/common/navigation.scss
  app/views/layouts/_main_links.html.erb
Labels: Type: Feature, Lang: HTML, Lang: CSS, UI

#919 [Themes] Add font options
  app/javascript/src/javascripts/themes.js
  app/javascript/src/javascripts/utility/storage.js
  app/javascript/src/styles/base.scss
  app/javascript/src/styles/base/_fonts.scss
  app/javascript/src/styles/base/_vars.scss
  app/javascript/src/styles/common/post_search.scss
  app/javascript/src/styles/views/posts/index/_index.scss
  app/views/layouts/_theme_include.html.erb
  app/views/static/theme.html.erb
  public/fonts/Lato/Lato-Bold.woff
  public/fonts/Lato/Lato-Bold.woff2
  public/fonts/Lato/Lato-BoldItalic.woff
  public/fonts/Lato/Lato-BoldItalic.woff2
  public/fonts/Lato/Lato-Italic.woff
  public/fonts/Lato/Lato-Italic.woff2
  public/fonts/Lato/Lato-Regular.woff
  public/fonts/Lato/Lato-Regular.woff2
  public/fonts/Lexend/Lexend-Bold.woff
  public/fonts/Lexend/Lexend-Bold.woff2
  public/fonts/Lexend/Lexend-BoldItalic.woff
  public/fonts/Lexend/Lexend-BoldItalic.woff2
  public/fonts/Lexend/Lexend-Italic.woff
  public/fonts/Lexend/Lexend-Italic.woff2
  public/fonts/Lexend/Lexend-Regular.woff
  public/fonts/Lexend/Lexend-Regular.woff2
  public/fonts/OpenDyslexic/OpenDyslexic-Bold.woff
  public/fonts/OpenDyslexic/OpenDyslexic-Bold.woff2
  public/fonts/OpenDyslexic/OpenDyslexic-BoldItalic.woff
  public/fonts/OpenDyslexic/OpenDyslexic-BoldItalic.woff2
  public/fonts/OpenDyslexic/OpenDyslexic-Italic.woff
  public/fonts/OpenDyslexic/OpenDyslexic-Italic.woff2
  public/fonts/OpenDyslexic/OpenDyslexic-Regular.woff
  public/fonts/OpenDyslexic/OpenDyslexic-Regular.woff2
  public/fonts/OpenSans/OpenSans-Bold.woff
  public/fonts/OpenSans/OpenSans-Bold.woff2
  public/fonts/OpenSans/OpenSans-BoldItalic.woff
  public/fonts/OpenSans/OpenSans-BoldItalic.woff2
  public/fonts/OpenSans/OpenSans-Italic.woff
  public/fonts/OpenSans/OpenSans-Italic.woff2
  public/fonts/OpenSans/OpenSans-Regular.woff
  public/fonts/OpenSans/OpenSans-Regular.woff2
Labels: Type: Feature, Lang: HTML, Lang: CSS, UI

#926 [Users] Redesign the settings page
  app/javascript/src/javascripts/tabs.js
  app/javascript/src/styles/base.scss
  app/javascript/src/styles/common/_standard_elements.scss
  app/javascript/src/styles/specific/users.scss
  app/javascript/src/styles/views/users/_users.scss
  app/javascript/src/styles/views/users/edit/_edit.scss
  app/views/users/edit.html.erb
  app/views/users/partials/edit/_advanced.html.erb
  app/views/users/partials/edit/_basic.html.erb
  app/views/users/partials/edit/_blacklist.html.erb
Labels: Type: Feature, Lang: JS, Lang: HTML, Lang: CSS, Users

#927 [Misc] Redesign the toggle switches
  app/javascript/src/styles/common/_standard_elements.scss
Labels: Type: Feature, Lang: CSS

#931 [Users] Rework the profile page
  app/helpers/application_helper.rb
  app/helpers/icon_helper.rb
  app/helpers/users_helper.rb
  app/javascript/src/javascripts/thumbnails.js
  app/javascript/src/javascripts/users.js
  app/javascript/src/javascripts/utility/storage.js
  app/javascript/src/styles/base.scss
  app/javascript/src/styles/common/_standard_variables.scss
  app/javascript/src/styles/common/navigation.scss
  app/javascript/src/styles/specific/users.scss
  app/javascript/src/styles/views/application/_application.scss
  app/javascript/src/styles/views/application/_avatar.scss
  app/javascript/src/styles/views/application/_feedback_badge.scss
  app/javascript/src/styles/views/application/_level_badge.scss
  app/javascript/src/styles/views/users/_users.scss
  app/javascript/src/styles/views/users/edit/_edit.scss
  app/javascript/src/styles/views/users/show/_show.scss
  app/javascript/src/styles/views/users/show/partials/_about.scss
  app/javascript/src/styles/views/users/show/partials/_ban_banner.scss
  app/javascript/src/styles/views/users/show/partials/_card.scss
  app/javascript/src/styles/views/users/show/partials/_post_summary.scss
  app/javascript/src/styles/views/users/show/partials/_profile_section.scss
  app/javascript/src/styles/views/users/show/partials/_staff_info.scss
  app/javascript/src/styles/views/users/show/partials/_user_info.scss
  app/models/user.rb
  app/presenters/user_presenter.rb
  app/views/application/_feedback_badge.erb
  app/views/application/_profile_avatar.erb
  app/views/layouts/_nav.html.erb
  app/views/staff_notes/partials/_for_user.html.erb
  app/views/users/_about.html.erb
  app/views/users/_statistics.html.erb
  app/views/users/partials/show/_about.html.erb
  app/views/users/partials/show/_ban_banner.html.erb
  app/views/users/partials/show/_card.html.erb
  app/views/users/partials/show/_mentions.html.erb
  app/views/users/partials/show/_post_summary.html.erb
  app/views/users/partials/show/_staff_info.html.erb
  app/views/users/partials/show/_user_info.html.erb
  app/views/users/show.html.erb
Labels: Type: Feature, Lang: JS, Lang: HTML, Lang: CSS, Users
