Repository e621ng/e621ng, pull requests merged in 2025-09, with the labels that each got.

#1270 [TagPreview] Fix alias json and display name
  app/javascript/src/javascripts/uploader/tag_preview_tag.vue
  app/logical/tags_preview.rb
Labels: Type: Bug, Lang: Ruby, Lang: Vue, Tags

#1271 [Misc] Rework the quote regex
  app/javascript/src/javascripts/blips.js
  app/javascript/src/javascripts/comments.js
  app/javascript/src/javascripts/forum_posts.js
  app/javascript/src/javascripts/utility/text_util.js
Labels: Type: Bug, Lang: JS, Forum Posts, Comments, Blips

#1275 [Users] Added blacklisting to avatar on user profile
  app/javascript/src/javascripts/thumbnails.js
  app/javascript/src/styles/views/application/_avatar.scss
  app/views/application/_profile_avatar.erb
  app/views/users/partials/show/_card.html.erb
Labels: Type: Bug, Lang: JS, Blacklist, Users

#1266 [UploadWhitelists] Clean up old data and fix a default value
  app/models/upload_whitelist.rb
  app/views/upload_whitelists/_form.html.erb
  app/views/upload_whitelists/index.html.erb
  db/migrate/20250831040648_cleanup_upload_whitelists.rb
  db/structure.sql
Labels: Type: Bug, Lang: SQL, UploadWhitelists

#1280 [Misc] Fix a badge in the readme file
  README.md
Labels: Type: Bug

#1279 [Posts] Alias `order:rank` to `order:hot`
  app/logical/tag_query.rb
  test/unit/elastic_post_query_builder_test.rb
  test/unit/tag_query_test.rb
Labels: Type: Feature, Lang: Ruby, Posts

#1278 [Posts] Fix the vote/favorite buttons not activating sometimes
  app/javascript/src/styles/common/_standard_elements.scss
Labels: Type: Bug, Posts, Post Votes, Lang: CSS, Favorites

#1282 [Alternates] Add youtube, derpibooru
  app/logical/sources/alternates.rb
  app/logical/sources/alternates/base.rb
  app/logical/sources/alternates/derpibooru.rb
  app/logical/sources/alternates/furaffinity.rb
  app/logical/sources/alternates/inkbunny.rb
  app/logical/sources/alternates/youtube.rb
  app/models/post.rb
  test/unit/sources/alternates/derpibooru_test.rb
  test/unit/sources/alternates/inkbunny_test.rb
  test/unit/sources/alternates/youtube_test.rb
Labels: Type: Bug, Type: Feature, Lang: Ruby, Posts

#1294 [Rubocop] Fix autocorrectable issues in routes.rb
  config/routes.rb
Labels: Type: Bug, Rubocop

#1293 [Users] Tweaks and fixes for the settings page
  app/controllers/users_controller.rb
  app/javascript/src/javascripts/tabs.js
  app/javascript/src/styles/views/users/edit/_edit.scss
  app/views/layouts/_nav.html.erb
  app/views/static/site_map.html.erb
  app/views/users/_secondary_links.html.erb
  app/views/users/home.html.erb
  config/routes.rb
Labels: Type: Bug, Lang: Ruby, Lang: JS, Users

#1283 [Embeds] Add forum, comments, blips and tags
  app/views/artists/show.html.erb
  app/views/blips/show.html.erb
  app/views/comments/show.html.erb
  app/views/forum_posts/show.html.erb
  app/views/forum_topics/show.html.erb
  app/views/pools/show.html.erb
  app/views/static/_embed.html.erb
  app/views/tags/show.html.erb
  app/views/wiki_pages/show.html.erb
Labels: Type: Feature, Lang: Ruby, Forum Posts, Comments, Blips, Tags

#1299 [Users] Fix an error in the user search
  app/models/user.rb
Labels: Type: Bug, Lang: Ruby, Lang: SQL, Users

#1335 [Gems] Update rexml
  Gemfile
  Gemfile.lock
Labels: Lang: Ruby, Type: Dependencies

#1340 [UI] Replace (most) jquery-ui dialogs
  app/javascript/packs/application.js
  app/javascript/src/javascripts/blacklists.js
  app/javascript/src/javascripts/mod_queue.js
  app/javascript/src/javascripts/pools.js
  app/javascript/src/javascripts/post_sets.js
  app/javascript/src/javascripts/utility.js
  app/javascript/src/javascripts/utility/dialog.js
  app/javascript/src/javascripts/views/PostsShowToolbar.js
  app/javascript/src/styles/common/blacklists.scss
  app/javascript/src/styles/views/application/_application.scss
  app/javascript/src/styles/views/application/_dialog.scss
  app/javascript/src/styles/views/posts/show/_show.scss
  app/javascript/src/styles/views/posts/show/partials/_add_to_pool.scss
  app/javascript/src/styles/views/posts/show/partials/_detailed_rejection.scss
  app/javascript/src/styles/views/posts/show/partials/_post_toolbar.scss
  app/views/pool_elements/_new.html.erb
  app/views/post_disapprovals/_detailed_rejection_dialog.html.erb
  app/views/post_sets/_add_dialog.html.erb
  app/views/posts/partials/common/_blacklist_editor.html.erb
  app/views/posts/partials/common/_secondary_links.html.erb
  app/views/posts/partials/show/content/_toolbar.html.erb
  app/views/posts/partials/show/content/notices/_notices.html.erb
  app/views/posts/partials/show/sidebar/_options.html.erb
  app/views/posts/show.html.erb
Labels: Type: Feature, Lang: JS, Pools, Post Sets, Lang: CSS, Blacklist, UI

#1343 [BUR] Replace the help dialog with a collapsible section
  app/views/bulk_update_requests/_form.html.erb
Labels: Type: Feature, Lang: JS, AIBUR
