Repository e621ng/e621ng, pull requests merged in 2025-08, with the labels that each got.

#1211 [Posts] Rework the voting section
  app/helpers/icon_helper.rb
  app/helpers/posts_helper.rb
  app/javascript/packs/application.js
  app/javascript/src/javascripts/models/PostVote.js
  app/javascript/src/javascripts/post_mode_menu.js
  app/javascript/src/javascripts/posts.js
  app/javascript/src/javascripts/views/PostsShowToolbar.js
  app/javascript/src/styles/base/_palette.scss
  app/javascript/src/styles/common/_standard_elements.scss
  app/javascript/src/styles/specific/posts.scss
  app/javascript/src/styles/views/posts/show/_show.scss
  app/javascript/src/styles/views/posts/show/partials/_post_toolbar.scss
  app/views/comments/partials/index/_header.html.erb
  app/views/posts/partials/show/content/_toolbar.html.erb
  app/views/posts/partials/show/sidebar/_information.html.erb
  app/views/posts/show.html.erb
Labels: Type: Feature, Lang: JS, Lang: HTML, Posts, Post Votes, Lang: CSS

#1212 [Posts] Restyle image size switcher and add a note toggle
  app/javascript/src/javascripts/utility/storage.js
  app/javascript/src/javascripts/views/PostsShowToolbar.js
  app/javascript/src/styles/common/_standard_elements.scss
  app/javascript/src/styles/specific/notes.scss
  app/javascript/src/styles/views/posts/show/partials/_post_toolbar.scss
  app/views/posts/partials/show/content/_toolbar.html.erb
  app/views/posts/show.html.erb
Labels: Type: Feature, Lang: JS, Posts, Lang: CSS, Notes

#1204 [Embeds] Add more embeds
  app/views/artists/show.html.erb
  app/views/pools/show.html.erb
  app/views/posts/show.html.erb
  app/views/static/_embed.html.erb
  app/views/static/home.html.erb
  app/views/users/show.html.erb
  app/views/wiki_pages/show.html.erb
Labels: Type: Feature, Lang: Ruby

#1200 [Posts] [Favs] [Tags] Unified sidebar tag list rendering
  app/logical/post_sets/base.rb
  app/logical/post_sets/post.rb
  app/presenters/post_set_presenters/popular.rb
  app/presenters/post_set_presenters/post.rb
  app/presenters/tag_set_presenter.rb
  app/views/favorites/index.html.erb
  app/views/posts/index.html.erb
  app/views/posts/partials/common/sidebar/_tag_list.html.erb
  app/views/posts/partials/common/sidebar/_tag_list_item.html.erb
  app/views/posts/partials/index/sidebar/_tag_list.html.erb
  app/views/posts/partials/show/sidebar/_tag_list.html.erb
Labels: Type: Bug, Lang: Ruby, Lang: HTML, Posts, Tags, Favorites

#1197 [DMails] Unified response format for dmails, for empty and filled data
  app/controllers/dmails_controller.rb
Labels: Type: Bug, Lang: Ruby, API, DMails

#1215 [AIBUR] Fix the help link on the BUR page
  app/views/bulk_update_requests/_secondary_links.html.erb
Labels: Type: Bug, Lang: HTML, HelpPages, AIBUR

#1217 [Misc] Decouple the minimum image size from thumbnail dimensions
  app/logical/file_validator.rb
  config/danbooru_default_config.rb
Labels: Type: Feature, Lang: Ruby, Posts, Uploads

#1218 [Rubocop] Add a github action to regenerate the TODO file
  .github/workflows/rubocop.yml
Labels: Rubocop

#1220 [Notes] Fix note visibility issues
  app/javascript/src/javascripts/notes.js
  app/javascript/src/javascripts/views/PostsShowToolbar.js
  app/javascript/src/styles/specific/notes.scss
  app/views/posts/show.html.erb
Labels: Type: Bug, Lang: JS, Posts, Lang: CSS, Notes

#1221 [Posts] Fix favorite button icon color
  app/javascript/src/styles/views/posts/show/partials/_post_toolbar.scss
Labels: Type: Bug, Posts, Lang: CSS

#1225 [Misc] Add the ability to rebind hotkeys
  app/helpers/pagination_helper.rb
  app/javascript/packs/application.js
  app/javascript/src/javascripts/hotkeys.js
  app/javascript/src/javascripts/notes.js
  app/javascript/src/javascripts/post_mode_menu.js
  app/javascript/src/javascripts/posts.js
  app/javascript/src/javascripts/shortcuts.js
  app/javascript/src/javascripts/utility.js
  app/javascript/src/javascripts/utility/page.js
  app/javascript/src/javascripts/views/StaticShortcuts.js
  app/javascript/src/styles/base/_palette.scss
  app/javascript/src/styles/specific/keyboard_shortcuts.scss
  app/presenters/post_set_presenters/popular.rb
  app/views/artists/_secondary_links.html.erb
  app/views/bulk_update_requests/_bur_edit_links.html.erb
  app/views/favorites/index.html.erb
  app/views/forum_topics/_secondary_links.html.erb
  app/views/moderator/post/queues/_quick_mod.html.erb
  app/views/pools/_secondary_links.html.erb
  app/views/posts/partials/common/_search.html.erb
  app/views/posts/partials/index/_related.html.erb
  app/views/posts/partials/show/content/_edit.html.erb
  app/views/posts/partials/show/content/_toolbar.html.erb
  app/views/posts/partials/show/sidebar/_options.html.erb
  app/views/posts/show.html.erb
  app/views/static/home.html.erb
  app/views/static/keyboard_shortcuts.html.erb
  app/views/wiki_pages/_secondary_links.html.erb
  eslint.config.mjs
Labels: Type: Feature, Lang: JS, Hotkeys

#1226 [Posts] Fixes and tweaks to the post toolbar
  app/helpers/icon_helper.rb
  app/javascript/src/javascripts/views/PostsShowToolbar.js
  app/javascript/src/styles/base/_palette.scss
  app/javascript/src/styles/views/posts/show/partials/_post_toolbar.scss
  app/views/posts/partials/show/content/_toolbar.html.erb
Labels: Type: Feature, Lang: JS, Lang: HTML, Posts, Lang: CSS

#1222 [Embeds] Fix video embeds
  app/views/static/_embed.html.erb
Labels: Type: Bug, Lang: HTML

#1228 [Posts] Fix the random post button not passing the tag string along
  app/controllers/posts_controller.rb
Labels: Type: Bug, Lang: Ruby, Posts

#1232 [Posts] Add hotkeys to add or remove the post from favorites
  app/javascript/src/javascripts/hotkeys.js
  app/javascript/src/javascripts/posts.js
  app/javascript/src/javascripts/views/PostsShowToolbar.js
  app/javascript/src/javascripts/views/StaticShortcuts.js
  app/views/posts/partials/show/content/_toolbar.html.erb
  app/views/static/keyboard_shortcuts.html.erb
Labels: Type: Feature, Lang: JS, Posts

#1230 [Posts] Allow the random hotkey on the posts#show page
  app/javascript/src/javascripts/posts.js
  app/views/favorites/index.html.erb
  app/views/posts/partials/index/_related.html.erb
Labels: Type: Feature, Lang: JS, Posts, Hotkeys

#1233 [Posts] Refactor the favorite and vote hotkeys
  app/javascript/src/javascripts/hotkeys.js
  app/javascript/src/javascripts/posts.js
  app/javascript/src/javascripts/views/PostsShowToolbar.js
  app/views/posts/partials/show/content/_toolbar.html.erb
Labels: Type: Feature, Lang: JS, Posts, Post Votes, Favorites

#1234 [Home] Move the subscribestar promo underneath the news block
  app/views/static/home.html.erb
Labels: Type: Feature, Lang: HTML, Home

#1237 [Hotkeys] Fix the hotkeys toggle in the settings
  app/helpers/application_helper.rb
  app/javascript/src/javascripts/hotkeys.js
  app/javascript/src/javascripts/models/User.js
Labels: Type: Bug, Users, Hotkeys

#1238 [Posts] Fix the download button in the toolbar
  app/helpers/icon_helper.rb
  app/javascript/src/javascripts/views/PostsShowToolbar.js
  app/javascript/src/styles/views/posts/show/partials/_post_toolbar.scss
  app/views/posts/partials/show/content/_toolbar.html.erb
Labels: Type: Bug, Lang: JS, Posts

#1249 [Hotkeys] Fix the random hotkey on the favorites page
  app/javascript/src/javascripts/posts.js
Labels: Type: Bug, Lang: JS, Hotkeys

#1247 [Hotkeys] Fix the alt key overriding native browser behavior
  app/javascript/src/javascripts/hotkeys.js
Labels: Type: Bug, Lang: JS, Hotkeys

#1248 [Hotkeys] Disable hotkeys when a video is focused
  app/javascript/src/javascripts/hotkeys.js
Labels: Type: Bug, Lang: JS, Hotkeys

#1246 [Home] Rework the mascot positioning
  app/javascript/src/styles/views/static/_home.scss
  app/models/mascot.rb
  app/views/static/home.html.erb
Labels: Type: Bug, Lang: HTML, Lang: CSS, Home

#1252 [Hotkeys] Add a button to reset bindings to default
  app/javascript/src/javascripts/hotkeys.js
  app/javascript/src/javascripts/views/StaticShortcuts.js
  app/javascript/src/styles/specific/keyboard_shortcuts.scss
  app/views/static/keyboard_shortcuts.html.erb
Labels: Type: Feature, Lang: JS, Hotkeys

#1253 [UploadWhitelists] Rework the whitelist to validate the domain and path separately
  app/controllers/upload_whitelists_controller.rb
  app/decorators/mod_action_decorator.rb
  app/models/mod_action.rb
  app/models/upload_whitelist.rb
  app/views/upload_whitelists/_form.html.erb
  app/views/upload_whitelists/index.html.erb
  db/migrate/20250826165528_revamp_upload_whitelist.rb
  db/seeds.rb
  db/structure.sql
  test/functional/forum_topics_controller_test.rb
  test/functional/iqdb_queries_controller_test.rb
  test/models/image_sampler_test.rb
  test/models/upload_service_test.rb
  test/unit/downloads/file_test.rb
  test/unit/upload_whitelist_test.rb
Labels: Type: Feature, Lang: Ruby, Lang: SQL, UploadWhitelists

#1111 [TagPreview] Add new tag preview
  app/controllers/tags_controller.rb
  app/javascript/src/javascripts/tag_editor.vue
  app/javascript/src/javascripts/uploader/tag_preview.vue
  app/javascript/src/javascripts/uploader/tag_preview_tag.vue
  app/javascript/src/javascripts/uploader/uploader.vue.erb
  app/javascript/src/styles/specific/related_tags.scss
  app/logical/tags_preview.rb
Labels: Type: Feature, Lang: JS, Lang: HTML, Uploads, Tags

#1262 [UI] Fix the mobile main menu background color with sticky header
  app/javascript/src/styles/common/navigation.scss
Labels: Type: Bug, Lang: CSS, UI

#1257 [TagList] Fix collapsing tag lists in the sidebar
  app/javascript/src/javascripts/posts.js
Labels: Type: Bug, Lang: JS, Posts, Tags

#1077 [Post Search] `order:rank` alternative/replacement (`order:hot`)
  app/helpers/posts_helper.rb
  app/logical/elastic_post_query_builder.rb
  app/logical/parse_value.rb
  app/logical/tag_query.rb
  app/views/posts/partials/common/_secondary_links.html.erb
  app/views/posts/partials/index/_related.html.erb
  app/views/static/home.html.erb
  test/unit/elastic_post_query_builder_test.rb
  test/unit/post_test.rb
  test/unit/tag_query_test.rb
Labels: Type: Feature, Lang: Ruby, Posts, ElasticSearch

#1258 [Uploads] Add button to uploader for verified artists to prefill their tag
  app/javascript/src/javascripts/uploader/uploader.vue.erb
  app/javascript/src/styles/specific/uploads.scss
  app/models/user.rb
  app/views/uploads/new.html.erb
Labels: Type: Feature, Lang: JS, Uploads

#1264 [PostVotes] Fix an error popup not being shown
  app/javascript/src/javascripts/models/PostVote.js
Labels: Type: Bug, Lang: JS, Post Votes

#1267 [Mascots] Increase the maximum image dimensions
  app/models/mascot.rb
Labels: Type: Feature, Lang: Ruby, Mascots

#1269 [Notes] Add a hotkey to toggle note visibility
  app/javascript/src/javascripts/hotkeys.js
  app/javascript/src/javascripts/views/StaticShortcuts.js
  app/views/posts/partials/show/content/_toolbar.html.erb
Labels: Type: Feature, Lang: JS, Notes, Hotkeys
