Repository e621ng/e621ng, pull requests merged in 2025-07, with the labels that each got.

#1172 [Posts] Fix the flash file thumbnails
  app/logical/storage_manager.rb
Labels: Type: Bug, Lang: Ruby, Posts

#1175 [Blacklist] Fix the post cache builders
  app/javascript/src/javascripts/models/PostCache.js
Labels: Type: Bug, Lang: JS, Blacklist

#1176 [Posts] Move the display options out of the way on mobile
  app/javascript/src/styles/common/post_search.scss
  app/javascript/src/styles/common/thumbnails.scss
  app/javascript/src/styles/views/posts/index/_index.desktop.scss
  app/javascript/src/styles/views/posts/index/_index.scss
Labels: Type: Bug, Posts, Lang: CSS

#1178 [Posts] Fix the thumbnail not spanning the entire height sometimes
  app/javascript/src/styles/common/thumbnails.scss
Labels: Type: Bug, Posts, Lang: CSS

#1177 [Tickets] Rework the post report page
  app/controllers/tickets_controller.rb
  app/javascript/src/styles/base.scss
  app/javascript/src/styles/common/_standard_elements.scss
  app/javascript/src/styles/specific/post_flags.scss
  app/javascript/src/styles/specific/posts.scss
  app/javascript/src/styles/specific/tickets.scss
  app/javascript/src/styles/views/post_flags/_post_flags.scss
  app/javascript/src/styles/views/post_flags/new/_new.scss
  app/javascript/src/styles/views/tickets/_tickets.scss
  app/javascript/src/styles/views/tickets/new/_new.scss
  app/models/post_report_reason.rb
  app/views/post_flags/_new.html.erb
  app/views/tickets/new.html.erb
  app/views/tickets/new_types/_post.html.erb
  config/application.rb
  config/locales/en.yml
Labels: Type: Feature, Lang: Ruby, Lang: JS, Lang: HTML, Posts, Lang: CSS, Post Flags

#1193 [Gems] Update nokogiri
  Gemfile.lock
Labels: Lang: Ruby, Type: Dependencies

#1185 [Posts] Fix the page styles on the show-seq page
  app/javascript/src/styles/views/posts/show/_show.scss
Labels: Type: Bug, Posts, Lang: CSS

#1186 [Tickets] Fixes to the spacing of the reason and response
  app/javascript/src/styles/common/_standard_variables.scss
  app/javascript/src/styles/views/tickets/_tickets.scss
  app/javascript/src/styles/views/tickets/show/_show.scss
  app/views/tickets/show.html.erb
Labels: Type: Bug, Tickets, Lang: CSS

#1188 [Blacklist] Remove custom colors for blacklisted thumbnails
  app/javascript/src/styles/common/blacklists.scss
Labels: Type: Bug, Lang: CSS, Blacklist

#1191 [Posts] Fix an image sampler crash with swf files
  app/logical/image_sampler.rb
Labels: Type: Bug, Lang: Ruby, Posts

#1194 [Tickets] Allow all staff to search tickets
  app/controllers/tickets_controller.rb
  app/views/tickets/_search.html.erb
Labels: Type: Feature, Lang: Ruby, Tickets

#1183 [Tickets] Disallow dtext colors in ticket responses
  app/views/tickets/show.html.erb
Labels: Type: Bug, Lang: Ruby, DMails, DText

#1190 [Uploads] Fix upload limit link
  app/views/uploads/new.html.erb
Labels: Type: Bug, Lang: Ruby, Users

#1189 [Tags] Adds abbreviated millions to tag counts
  app/presenters/tag_set_presenter.rb
Labels: Type: Feature, Lang: Ruby, Tags
