Repository e621ng/e621ng, pull requests merged in 2025-05, with the labels that each got.

#1085 [PostVotes] Avoid timing out while calculating the hourly post vote limit
  app/models/user.rb
  db/migrate/20250430193448_add_post_votes_compound_index.rb
  db/structure.sql
Labels: Type: Bug, Lang: Ruby, Post Votes, Lang: SQL

#1089 Post: Related: Change Yandex search from .ru to .com
  app/views/posts/partials/show/sidebar/_related.html.erb
Labels: Type: Bug, Lang: Ruby, Posts

#1093 [Artists] Make the DNP label stand out more
  app/javascript/src/styles/base.scss
  app/javascript/src/styles/views/artists/_artists.scss
  app/javascript/src/styles/views/artists/show/_show.scss
  app/javascript/src/styles/views/artists/show/partials/_avoid_posting_label.scss
  app/views/artists/_show.html.erb
Labels: Type: Feature, Lang: HTML, Artists, Lang: CSS, Avoid Posting

#1094 [AIBUR] Add a notice if approval is prevented due to DNP entries
  app/views/tag_aliases/show.html.erb
  app/views/tag_implications/show.html.erb
Labels: Type: Feature, Lang: HTML, Artists, AIBUR

#1095 [WikiPages] Prevent the insertion of non-printable characters into titles
  app/logical/tag_name_validator.rb
Labels: Type: Bug, Lang: Ruby, WikiPages

#1097 [Misc] Add the FSC modal
  app/views/layouts/blank.html.erb
  app/views/layouts/default.html.erb
  config/danbooru_default_config.rb
  config/initializers/content_security_policy.rb
Labels: Type: Feature, Lang: JS

#1098 [Comments] Fix an error caused by stickied comments
  app/controllers/posts_controller.rb
Labels: Type: Bug, Lang: Ruby, Comments

#1099 [PostVotes] Fix a timeout that occurs while creating an index
  db/migrate/20250430193448_add_post_votes_compound_index.rb
Labels: Type: Bug, Post Votes, Lang: SQL

#1103 [Gems] Update rack and nokogiri
  Gemfile.lock
Labels: Lang: Ruby, Type: Dependencies

#1102 [Votes] Fix performance issues with vote searches
  app/controllers/post_votes_controller.rb
  db/migrate/20250512221037_add_vote_indexes.rb
  db/populate.rb
  db/structure.sql
Labels: Type: Bug, Post Votes, Lang: SQL, Comment Votes

#1078 Update README.md
  README.md
Labels: Type: Feature

#1105 [Posts] Add a way to safely delete posts that have unprocessed videos
  app/controllers/moderator/post/posts_controller.rb
  app/logical/storage_manager/local.rb
  app/models/post.rb
Labels: Type: Bug, Lang: Ruby, Posts

#1106 [Posts] Look up video posts to regenerate in batches
  db/fixes/124_regenerate_video_samples.rb
Labels: Type: Bug, Lang: SQL

#1107 [Posts] Remove timeout on the video regeneration fixer script
  db/fixes/124_regenerate_video_samples.rb
Labels: Type: Bug

#1108 [Misc] Replace Plausible with Umami
  app/views/layouts/default.html.erb
  config/danbooru_default_config.rb
  config/initializers/content_security_policy.rb
Labels: Type: Feature

#1109 [Misc] Fix the umami website ID
  app/views/layouts/default.html.erb
Labels: Type: Bug

#1113 [Misc] Replace Umami with Plausible
  app/views/layouts/default.html.erb
  config/danbooru_default_config.rb
  config/initializers/content_security_policy.rb
Labels: Type: Bug

#1115 [Misc] Add alternate site logos
  app/javascript/src/javascripts/themes.js
  app/javascript/src/javascripts/utility/storage.js
  app/javascript/src/styles/base.scss
  app/javascript/src/styles/base/_logos.scss
  app/javascript/src/styles/common/navigation.scss
  app/views/layouts/_theme_include.html.erb
  app/views/static/_footer.html.erb
  app/views/static/theme.html.erb
  public/images/logo/ace.svg
  public/images/logo/aro.svg
  public/images/logo/bi.svg
  public/images/logo/default.svg
  public/images/logo/default_bloodlust.svg
  public/images/logo/default_pony.svg
  public/images/logo/french.svg
  public/images/logo/gay.svg
  public/images/logo/genderfluid.svg
  public/images/logo/lesbian.svg
  public/images/logo/nonbinary.svg
  public/images/logo/omni.svg
  public/images/logo/pan.svg
  public/images/logo/pride.svg
  public/images/logo/trans.svg
  public/images/main-logo.svg
Labels: Type: Feature, Lang: JS, Lang: CSS, UI

#1117 [Misc] Open the reverse image search links in a new tab
  app/views/posts/partials/show/sidebar/_related.html.erb
Labels: Type: Bug, Lang: HTML

#1119 [Users] Replace icons in staff sections
  app/javascript/src/javascripts/users.js
  app/javascript/src/styles/views/users/show/partials/_profile_section.scss
  app/views/staff_notes/partials/_for_user.html.erb
  app/views/users/partials/show/_staff_info.html.erb
Labels: Type: Bug, Lang: CSS, Users

#1120 [Posts] Preserve the q parameter when deleting a post
  app/controllers/moderator/post/posts_controller.rb
  app/views/moderator/post/posts/confirm_delete.html.erb
  app/views/moderator/post/queues/_quick_mod.html.erb
  app/views/posts/partials/show/sidebar/_options.html.erb
Labels: Type: Feature, Lang: Ruby, Lang: JS, Posts

#1121 [WikiPages] Minor spacing fix
  app/javascript/src/styles/specific/wiki_pages.scss
Labels: Type: Bug, WikiPages, Lang: CSS

#1123 [Posts] Color the invalid links in red
  app/helpers/posts_helper.rb
  app/javascript/src/styles/specific/posts.scss
Labels: Type: Feature, Posts, Lang: CSS

#1125 [UploadWhitelists] Add input validation to is_allowed
  app/controllers/upload_whitelists_controller.rb
  app/models/upload_whitelist.rb
  test/unit/upload_whitelist_test.rb
Labels: Type: Bug, Lang: Ruby, UploadWhitelists

#1132 [Rubocop] Fix issues reported by rubocop
  app/models/post_replacement.rb
  db/fixes/125_post_replacement_backup_removal.rb
  db/fixes/126_generate_missing_replacement_info.rb
Labels: Type: Bug, Lang: Ruby, Rubocop
