Repository e621ng/e621ng, pull requests merged in 2025-01, with the labels that each got.

#832 [Admin] Fix broken wiki links on the stuck DNP page
  app/views/admin/stuck_dnp/new.html.erb
Labels: Type: Bug, Lang: HTML

#833 [AvoidPostings] Fix the Active? search options
  app/views/avoid_posting_versions/_search.html.erb
  app/views/avoid_postings/_search.html.erb
Labels: Type: Bug, Lang: Ruby, Avoid Posting

#835 [StaffNotes] Fix DB migration
  .rubocop.yml
  db/migrate/20240205174652_soft_deletable_staff_notes.rb
Labels: Lang: SQL

#836 Make secondary links for AIBUR pages consistent.
  app/views/bulk_update_requests/_secondary_links.html.erb
  app/views/tag_aliases/_secondary_links.html.erb
  app/views/tag_implications/_secondary_links.html.erb
Labels: Type: Feature, Lang: HTML, AIBUR

#839 [Home] Redesign the home page
  app/javascript/src/javascripts/mascots.js
  app/javascript/src/styles/base.scss
  app/javascript/src/styles/specific/home.scss
  app/views/static/home.html.erb
Labels: Type: Feature, Lang: HTML, Lang: CSS

#840 [UI] Redesign the navigation menu
  app/helpers/application_helper.rb
  app/javascript/src/javascripts/navigation.js
  app/javascript/src/javascripts/responsive.js
  app/javascript/src/styles/base.scss
  app/javascript/src/styles/common/navigation.scss
  app/javascript/src/styles/common/page_header.scss
  app/javascript/src/styles/common/z_responsive.scss
  app/views/artists/_secondary_links.html.erb
  app/views/avoid_postings/_secondary_links.html.erb
  app/views/blips/_secondary_links.html.erb
  app/views/dmails/_secondary_links.html.erb
  app/views/forum_topics/_secondary_links.html.erb
  app/views/help/_secondary_links.html.erb
  app/views/layouts/_main_links.html.erb
  app/views/layouts/_nav.html.erb
  app/views/layouts/default.html.erb
  app/views/pools/_secondary_links.html.erb
  app/views/post_sets/_secondary_links.html.erb
  app/views/posts/partials/common/_secondary_links.html.erb
  app/views/tags/_secondary_links.html.erb
  app/views/user_feedbacks/_secondary_links.html.erb
  app/views/users/_secondary_links.html.erb
  app/views/wiki_pages/_secondary_links.html.erb
Labels: Type: Feature, Lang: JS, Lang: HTML, Lang: CSS

#842 [Home] Add the navbar to the homepage
  app/javascript/src/styles/common/navigation.scss
  app/views/layouts/_nav.html.erb
  app/views/layouts/blank.html.erb
Labels: Type: Feature, Lang: HTML, Lang: CSS

#841 [VoteManager] Add confirmation to locking / deleting votes
  app/javascript/src/javascripts/vote_manager.js
Labels: Type: Feature, Lang: JS, Post Votes

#843 [NewsUpdates] Tweak the news section
  app/javascript/src/javascripts/news_updates.js
  app/javascript/src/styles/common/news.scss
  app/views/news_updates/_notice.erb
Labels: Type: Feature, Lang: HTML, Lang: CSS, NewsUpdates

#848 [UI] Main menu tweaks
  app/javascript/src/styles/common/navigation.scss
  public/images/main-logo.svg
Labels: Type: Bug, Lang: HTML, Lang: CSS, UI

#847 [StaffNotes] Fix staff notes search
  app/controllers/staff_notes_controller.rb
  app/views/mod_actions/_search.html.erb
Labels: Type: Bug, Lang: Ruby, Staff Notes

#844 [StaffNotes] Restrict deletions to own notes or admins
  app/models/staff_note.rb
Labels: Type: Bug, Lang: Ruby, Staff Notes

#846 [Blacklist] Fix blacklisted thumbnails in related posts
  app/javascript/src/styles/common/blacklists.scss
Labels: Type: Bug, Lang: CSS, Blacklist

#849 [UI] Add a sticky header option
  app/javascript/src/javascripts/themes.js
  app/javascript/src/javascripts/utility/storage.js
  app/javascript/src/styles/common/main_layout.scss
  app/javascript/src/styles/common/navigation.scss
  app/views/layouts/_theme_include.html.erb
  app/views/static/theme.html.erb
Labels: Type: Feature, Lang: JS, Lang: HTML, Lang: CSS, UI

#845 [Misc] Ensure that the footer is at the very bottom of the page
  app/javascript/src/styles/common/main_layout.scss
Labels: Type: Bug, Lang: CSS

#851 [UI] Rework the page footer
  app/javascript/src/styles/base.scss
  app/javascript/src/styles/common/_footer.scss
  app/javascript/src/styles/common/main_layout.scss
  app/javascript/src/styles/common/z_responsive.scss
  app/views/static/_footer.html.erb
  public/images/main-logo.svg
Labels: Type: Feature, Lang: HTML, Lang: CSS, UI

#852 [Home] Minor tweaks
  app/javascript/src/styles/specific/home.scss
Labels: Type: Bug, Lang: CSS

#853 [UI] Minor navbar tweaks
  app/javascript/src/styles/common/navigation.scss
  app/javascript/src/styles/specific/guest_warning.scss
Labels: Type: Bug, Lang: CSS, UI

#855 [Posts] Rework the post search page to be mobile-first
  app/controllers/favorites_controller.rb
  app/javascript/src/javascripts/post_search.js
  app/javascript/src/styles/base.scss
  app/javascript/src/styles/common/paginator.scss
  app/javascript/src/styles/common/post_search.scss
  app/javascript/src/styles/common/z_responsive.scss
  app/javascript/src/styles/specific/post_index.scss
  app/javascript/src/styles/specific/posts.scss
  app/logical/post_sets/favorites.rb
  app/views/favorites/_posts.html.erb
  app/views/favorites/index.html.erb
  app/views/posts/index.html.erb
  app/views/posts/partials/common/_search.html.erb
  app/views/posts/partials/index/_mode_menu.html.erb
  app/views/posts/partials/index/_related.html.erb
  app/views/posts/show.html.erb
Labels: Type: Feature, Lang: HTML, Posts, Lang: CSS

#856 [Misc] Add a subscribestar static page
  app/controllers/static_controller.rb
  app/helpers/application_helper.rb
  app/javascript/src/styles/common/navigation.scss
  app/views/layouts/_nav.html.erb
  app/views/static/subscribestar.html.erb
  config/routes.rb
Labels: Type: Feature, Lang: Ruby, Lang: HTML, Lang: CSS, UI

#857 [Posts] Add a confirmation dialogue to the tag script "apply all" button
  app/javascript/src/javascripts/post_mode_menu.js
Labels: Type: Feature, Lang: JS, Posts

#858 [Blacklist] Fix a bug that caused videos not to get paused when blacklisted
  app/javascript/src/javascripts/blacklists.js
Labels: Type: Bug, Lang: JS, Blacklist

#861 [Posts] Add a wiki excerpt to the search page
  app/controllers/posts_controller.rb
  app/javascript/packs/application.js
  app/javascript/src/javascripts/post_search.js
  app/javascript/src/javascripts/utility/storage.js
  app/javascript/src/styles/specific/post_index.scss
  app/views/posts/partials/index/_posts.html.erb
Labels: Type: Feature, Lang: Ruby, Lang: JS, Lang: HTML, Posts, Lang: CSS

#866 [Favorites] Add the missing methods
  app/logical/post_sets/favorites.rb
Labels: Type: Bug, Lang: Ruby, Favorites

#867 [UI] Minor fixes to the navbar
  app/javascript/src/javascripts/navigation.js
  app/javascript/src/styles/common/navigation.scss
  app/views/layouts/_nav.html.erb
  app/views/static/subscribestar.html.erb
Labels: Type: Bug, Lang: HTML, Lang: CSS, UI

#868 [Posts] Posts searchbar and layout fixes
  app/javascript/src/javascripts/post_search.js
  app/javascript/src/styles/common/post_search.scss
  app/javascript/src/styles/common/z_responsive.scss
Labels: Type: Bug, Lang: JS, Posts, Lang: CSS

#871 [CI] Upgrade to actions/upload-artifact@4
  .github/workflows/checks.yml
Labels: Type: Bug

#870 [UI] More menu fixes
  app/javascript/src/styles/common/navigation.scss
  app/javascript/src/styles/specific/home.scss
  app/views/layouts/_main_links.html.erb
Labels: Type: Bug, Lang: CSS, UI
