Repository e621ng/e621ng, pull requests merged in 2025-03, with the labels that each got.

#933 [Rubocop] Fix warnings in config files
  .rubocop_todo.yml
  Gemfile
  Rakefile
  config/danbooru_default_config.rb
  config/state_checker.rb
  docker-compose.yml
Labels: Type: Bug, Lang: Ruby, Rubocop

#934 [Home] Tweak the home page based on the feedback
  app/javascript/src/styles/base.scss
  app/javascript/src/styles/common/_standard_variables.scss
  app/javascript/src/styles/views/static/_home.scss
  app/javascript/src/styles/views/static/_static.scss
Labels: Type: Feature, Lang: CSS, Home

#936 [UI] Implement avatar dropdown menu
  app/helpers/icon_helper.rb
  app/helpers/users_helper.rb
  app/javascript/src/javascripts/navigation.js
  app/javascript/src/styles/common/main_layout.scss
  app/javascript/src/styles/common/navigation.scss
  app/javascript/src/styles/views/application/_avatar.scss
  app/views/application/_simple_avatar.html.erb
  app/views/layouts/_nav.html.erb
Labels: Type: Feature, Lang: JS, Lang: CSS, UI

#935 [Misc] Add time zone parameter
  app/logical/session_loader.rb
Labels: Type: Feature, Lang: Ruby

#937 [Gems] Update rack and webrick
  Gemfile.lock
Labels: Type: Feature

#932 add "User-Agent" to CORS access control header.
  app/controllers/application_controller.rb
Labels: Type: Feature, Lang: Ruby

#938 [UI] Minor UI fixes
  app/javascript/src/javascripts/navigation.js
  app/javascript/src/styles/common/navigation.scss
  app/javascript/src/styles/views/application/_avatar.scss
Labels: Type: Bug, Lang: JS, Lang: CSS, UI

#939 [Home] Tweak the home page buttons
  app/helpers/icon_helper.rb
  app/javascript/src/styles/base/_fonts.scss
  app/javascript/src/styles/views/static/_home.scss
  app/views/static/home.html.erb
  public/fonts/Roboto/Roboto-Bold.woff
  public/fonts/Roboto/Roboto-Bold.woff2
  public/fonts/Roboto/Roboto-BoldItalic.woff
  public/fonts/Roboto/Roboto-BoldItalic.woff2
  public/fonts/Roboto/Roboto-Italic.woff
  public/fonts/Roboto/Roboto-Italic.woff2
  public/fonts/Roboto/Roboto-Regular.woff
  public/fonts/Roboto/Roboto-Regular.woff2
Labels: Type: Feature, Lang: CSS, Home

#942 [WikiPages] Restore the tag category change link
  app/views/wiki_pages/_secondary_links.html.erb
Labels: Type: Bug, Lang: HTML, WikiPages, Tags

#944 [UI] Close the avatar dropdown by clicking elsewhere on the page
  app/javascript/src/javascripts/navigation.js
Labels: Type: Feature, Lang: JS, UI

#943 [Users] Rework the profile feedback badges
  app/helpers/icon_helper.rb
  app/helpers/users_helper.rb
  app/javascript/src/styles/views/application/_feedback_badge.scss
  app/views/application/_feedback_badge.erb
Labels: Type: Feature, Lang: Ruby, Lang: CSS, Users

#945 [UI] Show uploads and favorites in the avatar menu only if the user has any
  app/views/application/_simple_avatar.html.erb
Labels: Type: Feature, Lang: HTML, UI

#946 [UI] Enable avatar menu on the home page
  app/javascript/src/javascripts/navigation.js
  app/javascript/src/styles/common/navigation.scss
  app/javascript/src/styles/views/application/_avatar.scss
Labels: Type: Bug, Lang: CSS, UI, Home

#948 [Users] Show flags stats to all staff
  app/views/users/partials/show/_user_info.html.erb
Labels: Lang: Ruby, Users

#947 [WikiPages] Allow empty pages
  app/models/wiki_page.rb
  app/views/wiki_pages/_secondary_links.html.erb
  app/views/wiki_pages/show.html.erb
  app/views/wiki_pages/show_or_new.html.erb
Labels: Type: Feature, Lang: Ruby, Lang: HTML, WikiPages

#949 [Users] Collapse long profile descriptions
  app/javascript/src/javascripts/users.js
  app/javascript/src/styles/views/users/show/partials/_about.scss
  app/views/users/partials/show/_about.html.erb
Labels: Type: Feature, Lang: JS, Lang: CSS, Users

#951 [Users] Increase the clicking area of stat links on the profile page
  app/javascript/src/styles/views/users/show/partials/_user_info.scss
Labels: Type: Feature, Lang: CSS, Users

#940 [CORS] Allow all http methods
  app/controllers/application_controller.rb
Labels: Type: Feature, Lang: Ruby, API

#952 [Users] Move the API key button to the settings page
  app/javascript/src/styles/views/users/edit/_edit.scss
  app/views/users/partials/edit/_basic.html.erb
  app/views/users/partials/show/_user_info.html.erb
Labels: Type: Feature, Lang: HTML, Lang: CSS, Users

#929 [Docker] Upgrade Alpine image for ruby & node to 3.20
  Dockerfile
Labels: Type: Bug

#955 [Users] Make the forum notification toggle a user setting
  app/controllers/users_controller.rb
  app/javascript/src/javascripts/themes.js
  app/javascript/src/javascripts/utility/storage.js
  app/javascript/src/styles/common/navigation.scss
  app/models/user.rb
  app/views/layouts/_main_links.html.erb
  app/views/layouts/_theme_include.html.erb
  app/views/static/theme.html.erb
  app/views/users/partials/edit/_basic.html.erb
Labels: Type: Feature, Lang: Ruby, Forum Posts, Users

#956 [Posts] Rework the sidebar tag loading
  app/models/post.rb
  app/models/tag.rb
  app/presenters/post_presenter.rb
  app/presenters/tag_set_presenter.rb
  app/views/posts/partials/show/_tag_list.html.erb
  app/views/posts/show.html.erb
  app/views/tags/show.html.erb
  test/unit/tag_test.rb
Labels: Type: Feature, Lang: Ruby, Lang: HTML, Posts, Tags

#958 [Posts] Reduce the number of redundand queries.
  app/controllers/posts_controller.rb
  app/models/post.rb
  app/presenters/post_presenter.rb
  app/presenters/tag_set_presenter.rb
  app/views/posts/show.html.erb
  test/unit/post_presenter_test.rb
Labels: Type: Bug, Lang: Ruby, Posts

#959 [Posts] Replace the verified artist icon
  app/helpers/icon_helper.rb
  app/javascript/src/styles/common/user_styles.scss
  app/javascript/src/styles/specific/posts.scss
  app/javascript/src/styles/views/posts/show/_show.scss
  app/javascript/src/styles/views/posts/show/partials/_tag_list.scss
  app/views/posts/partials/show/_information.html.erb
  app/views/posts/partials/show/_tag_list.html.erb
Labels: Type: Feature, Lang: HTML, Posts

#960 [Tickets] Prevent long ticket titles from overflowing the page
  app/javascript/src/styles/common/tables.scss
Labels: Type: Bug, Tickets, Lang: CSS

#962 [Posts] Rework the way related tags are displayed on the index page
  app/logical/post_sets/post.rb
  app/models/post.rb
  app/views/posts/index.html.erb
  app/views/posts/partials/common/sidebar/_tag_list_item.html.erb
  app/views/posts/partials/index/sidebar/_tag_list.html.erb
  app/views/posts/partials/show/sidebar/_tag_list.html.erb
Labels: Type: Feature, Lang: Ruby, Lang: HTML, Posts

#963 [Blacklist] Add a button that adds sidebar tags to the blacklist
  app/controllers/users_controller.rb
  app/helpers/icon_helper.rb
  app/javascript/packs/application.js
  app/javascript/src/javascripts/blacklists.js
  app/javascript/src/javascripts/models/User.js
  app/javascript/src/styles/views/posts/_posts.scss
  app/javascript/src/styles/views/posts/common/_common.scss
  app/javascript/src/styles/views/posts/common/_tag_list.desktop.scss
  app/javascript/src/styles/views/posts/common/_tag_list.scss
  app/javascript/src/styles/views/posts/index/_index.desktop.scss
  app/javascript/src/styles/views/posts/index/_index.scss
  app/javascript/src/styles/views/posts/show/_show.scss
  app/javascript/src/styles/views/posts/show/partials/_tag_list.scss
  app/views/posts/index.html.erb
  app/views/posts/partials/common/sidebar/_tag_list_item.html.erb
  app/views/posts/partials/index/sidebar/_tag_list.html.erb
  app/views/posts/partials/show/sidebar/_tag_list.html.erb
Labels: Type: Feature, Lang: JS, Lang: HTML, Posts, Lang: CSS, Blacklist

#964 [Comments] Fix a layout issue caused by the posts page redesign
  app/javascript/src/styles/views/posts/index/_index.scss
Labels: Type: Bug, Lang: CSS, Comments

#965 [Tickets] Fix a bug causing tickets from destroyed comments to be inacessible
  .rubocop_todo.yml
  app/models/dmail.rb
  app/models/ticket.rb
Labels: Type: Bug, Lang: Ruby, Tickets

#966 [Comments] Allow janitors to see hidden comments
  app/models/comment.rb
  test/functional/tickets_controller_test.rb
Labels: Type: Feature, Lang: Ruby, Comments

#967 [Misc] Minor fixes
  app/javascript/src/javascripts/blacklists.js
  app/javascript/src/javascripts/themes.js
  app/javascript/src/styles/common/_standard_elements.scss
Labels: Type: Bug, Lang: JS, Lang: CSS

#968 [Users] Fix the tabs needlessly overwriting the history state
  app/javascript/src/javascripts/tabs.js
Labels: Type: Bug, Lang: JS, Users

#969 [Blacklist] Toggle notes properly on blacklisted posts
  app/javascript/src/javascripts/blacklists.js
Labels: Type: Bug, Posts, Blacklist

#970 [Users] Rework the upload limit page
  app/controllers/users_controller.rb
  app/helpers/icon_helper.rb
  app/javascript/src/styles/specific/users.scss
  app/javascript/src/styles/views/users/_users.scss
  app/javascript/src/styles/views/users/show/_show.scss
  app/javascript/src/styles/views/users/show/partials/_card.scss
  app/javascript/src/styles/views/users/upload_limit/_upload_limit.scss
  app/views/users/partials/show/_user_info.html.erb
  app/views/users/upload_limit.html.erb
  config/routes.rb
Labels: Type: Feature, Lang: HTML, Lang: CSS, Users

#971 [Users] Rework the password change page
  app/javascript/src/javascripts/password.js
  app/javascript/src/styles/base.scss
  app/javascript/src/styles/common/_standard_variables.scss
  app/javascript/src/styles/common/forms.scss
  app/javascript/src/styles/specific/users.scss
  app/javascript/src/styles/views/maintenance/_maintenance.scss
  app/javascript/src/styles/views/maintenance/_passwords.scss
  app/views/maintenance/user/passwords/edit.html.erb
Labels: Type: Feature, Lang: CSS, Users

#973 [Uploads] Fix an error on the upload page caused by the upload limit page changes
  app/views/uploads/new.html.erb
Labels: Type: Bug, Lang: HTML, Uploads

#974 [Users] Minor fixes for the upload limit page
  app/controllers/users_controller.rb
Labels: Type: Bug, Lang: Ruby, Users

#975 [UI] Make toggle switches easier to click
  app/javascript/src/styles/common/_standard_elements.scss
  app/views/users/partials/edit/_advanced.html.erb
  app/views/users/partials/edit/_basic.html.erb
  app/views/users/partials/edit/_blacklist.html.erb
Labels: Type: Feature, Lang: CSS, UI

#976 [Blacklist] Fix a bug caused by some tags not being html safe
  app/javascript/src/javascripts/blacklists.js
  app/javascript/src/javascripts/models/User.js
  app/views/posts/partials/common/sidebar/_tag_list_item.html.erb
Labels: Type: Bug, Lang: Ruby, Lang: JS, Blacklist

#977 [Posts] Fix the tag list plus/minus icons
  app/javascript/src/styles/views/posts/common/_tag_list.desktop.scss
  app/javascript/src/styles/views/posts/common/_tag_list.scss
  app/views/posts/partials/common/sidebar/_tag_list_item.html.erb
Labels: Type: Bug, Lang: HTML, Posts, Lang: CSS

#978 [AvoidPostings] UI tweaks
  app/helpers/icon_helper.rb
  app/javascript/src/javascripts/models/User.js
  app/models/avoid_posting.rb
  app/views/artists/_show.html.erb
  app/views/avoid_postings/index.html.erb
  app/views/avoid_postings/show.html.erb
  app/views/posts/partials/show/content/notices/_avoid_posting.html.erb
Labels: Type: Feature, Lang: Ruby, Lang: HTML, Avoid Posting

#981 [UI] Add even more avatar menu buttons
  app/helpers/icon_helper.rb
  app/javascript/src/styles/views/application/_avatar.scss
  app/views/application/_simple_avatar.html.erb
Labels: Type: Feature, Lang: HTML, Lang: CSS, UI

#982 [Users] Minor tweaks to the upload limit page
  app/javascript/src/styles/views/users/upload_limit/_upload_limit.scss
  app/views/users/upload_limit.html.erb
Labels: Type: Feature, Lang: HTML, Users

#983 [Pools] Increase the hourly creation limit to 5
  config/danbooru_default_config.rb
Labels: Type: Feature, Lang: Ruby, Pools

#985 [WikiPages] Fix creating wiki pages for tags with many posts
  app/models/wiki_page.rb
  app/views/wiki_pages/_form.html.erb
Labels: Type: Bug, Lang: Ruby, WikiPages

#986 [ForumTopics] Optimize forum topic database requests
  app/controllers/forum_posts_controller.rb
  app/controllers/forum_topics_controller.rb
  app/models/application_record.rb
  app/models/forum_post.rb
  app/views/application/_update_notice.html.erb
  app/views/forum_posts/_forum_post.html.erb
Labels: Type: Bug, API, Forum Posts, Lang: SQL

#988 [Users] Clean up and optimize user data loading
  app/controllers/comments_controller.rb
  app/controllers/forum_post_votes_controller.rb
  app/controllers/forum_posts_controller.rb
  app/controllers/forum_topics_controller.rb
  app/controllers/posts_controller.rb
  app/models/application_record.rb
  app/models/forum_post_vote.rb
  app/models/forum_topic.rb
  app/models/post.rb
  app/views/comments/_index_by_post.html.erb
  app/views/comments/partials/index/_list.html.erb
  app/views/posts/show.html.erb
  test/functional/forum_topics_controller_test.rb
Labels: Type: Feature, Lang: Ruby, API, Users

#989 [Notes] Fix clicking on the post to toggle notes
  app/javascript/src/javascripts/blacklists.js
Labels: Type: Bug, Lang: JS, Notes

#990 [DB] Use a static statement timeout instead of a user level specific one
  app/logical/session_loader.rb
  app/models/user.rb
  config/database.yml
Labels: Type: Feature, Lang: SQL

#991 [Users] Add a toggle to disable user's ability to upload posts
  app/controllers/users_controller.rb
  app/decorators/mod_action_decorator.rb
  app/javascript/src/styles/views/users/upload_limit/_upload_limit.scss
  app/models/mod_action.rb
  app/models/user.rb
  app/views/users/partials/show/_staff_info.html.erb
  app/views/users/upload_limit.html.erb
  config/routes.rb
Labels: Type: Feature, Lang: Ruby, Lang: HTML, Users

#992 [Favorites] Display zero results instead of an error if favorites are hidden
  app/controllers/favorites_controller.rb
Labels: Type: Feature, Lang: Ruby, Users, Favorites

#950 [ModActions] Add ticket update details
  app/decorators/mod_action_decorator.rb
  app/models/mod_action.rb
  app/models/ticket.rb
Labels: Type: Feature, Lang: Ruby, Tickets, ModActions

#993 [UI] Add "latest" links to the subnav of post versions, comments, and votes
  app/controllers/comment_votes_controller.rb
  app/controllers/comments_controller.rb
  app/controllers/post_versions_controller.rb
  app/controllers/post_votes_controller.rb
  app/views/comment_votes/_secondary_links.html.erb
  app/views/comment_votes/index.html.erb
  app/views/comments/_secondary_links.html.erb
  app/views/post_versions/_secondary_links.html.erb
  app/views/post_votes/_secondary_links.html.erb
  app/views/post_votes/index.html.erb
Labels: Type: Feature, Lang: Ruby, Lang: HTML, UI

#994 [Posts] Run the artverified fixer on all posts
  db/fixes/114_2_add_opensearch_artverified_data.rb
Labels: Type: Bug, Posts, Artists, Lang: SQL

#995 [Comments] Fix the comment order on posts
  app/models/post.rb
Labels: Type: Bug, Lang: Ruby, Posts, Comments

#996 [Posts] Rework the mobile version of sidebar tag list
  app/javascript/src/styles/views/posts/common/_tag_list.desktop.scss
  app/javascript/src/styles/views/posts/common/_tag_list.scss
Labels: Type: Bug, Posts, Lang: CSS, Tags

#997 [Users] Temporary fix for an error when changing the password
  app/views/maintenance/user/passwords/edit.html.erb
Labels: Type: Bug, Lang: Ruby, Users

#998 [Posts] Fix the tag count attribute in the sidebar tag list
  app/views/posts/partials/common/sidebar/_tag_list_item.html.erb
Labels: Type: Bug, Lang: HTML, Posts, Tags

#1001 [Posts] Rework the tag list styles from scratch
  app/javascript/src/styles/common/_standard_variables.scss
  app/javascript/src/styles/views/posts/common/_tag_list.desktop.scss
  app/javascript/src/styles/views/posts/common/_tag_list.scss
  app/javascript/src/styles/views/posts/index/_index.desktop.scss
  app/views/posts/partials/common/sidebar/_tag_list_item.html.erb
  app/views/posts/partials/index/sidebar/_tag_list.html.erb
Labels: Type: Bug, Posts, Lang: CSS, Tags

#1003 [ForumTopics] Minor optimizations
  app/views/application/_warned_notice.html.erb
  app/views/blips/partials/show/_blip.html.erb
  app/views/comments/partials/show/_comment.html.erb
  app/views/forum_posts/_forum_post.html.erb
  app/views/forum_posts/_listing.html.erb
Labels: Type: Feature, Lang: Ruby, Forum Posts

#1005 [Bans] Make ban information a bit more clear
  app/models/ban.rb
  app/presenters/user_presenter.rb
Labels: Type: Feature, Lang: Ruby, Users, Bans

#1006 [DText] Prevent inline code blocks from overlapping
  app/javascript/src/styles/base/_base.scss
  app/javascript/src/styles/common/dtext.scss
Labels: Type: Bug, Lang: CSS, DText

#1007 [Favorites] Fix the hotkeys on the post page
  app/views/posts/partials/show/content/_toolbar.html.erb
Labels: Type: Bug, Lang: JS, Favorites

#1009 [Robots] Add /avoid_postings
  public/robots.txt
Labels: Type: Bug, Avoid Posting

#1010 [AvoidPostings] Optimize db queries on the versions page
  app/controllers/avoid_posting_versions_controller.rb
Labels: Type: Bug, Lang: SQL, Avoid Posting

#1011 [Posts] Fix an issue caused by the show-seq page having a different action than show
  app/javascript/src/javascripts/utility/page.js
  app/javascript/src/styles/views/posts/show/_show.scss
Labels: Type: Bug, Lang: JS, Posts, Lang: CSS

#1012 [Blacklist] Fix revealing on click not working with videos
  app/javascript/src/styles/common/blacklists.scss
Labels: Type: Bug, Lang: JS, Posts, Blacklist

#1013 [Comments] Fix below threshold comments being displayed in the index
  app/controllers/comments_controller.rb
Labels: Type: Bug, Lang: Ruby, Lang: SQL, Comments

#1015 [Posts] Automatically fill in DNP deletion reasons
  app/controllers/moderator/post/posts_controller.rb
  app/views/moderator/post/posts/confirm_delete.html.erb
  config/danbooru_default_config.rb
Labels: Type: Feature, Lang: Ruby, Posts, Avoid Posting

#1018 [Misc] Tweak the age verification popup
  app/helpers/icon_helper.rb
  app/javascript/packs/application.js
  app/javascript/src/javascripts/fursona_check.js
  app/javascript/src/styles/base.scss
  app/javascript/src/styles/specific/fursona_check.scss
  app/views/layouts/blank.html.erb
  app/views/layouts/default.html.erb
  app/views/static/_fursona_check.html.erb
Labels: Type: Bug, Lang: JS, Lang: CSS

#1019 [DText] Prevent the dtext content from overflowing the page
  app/javascript/src/styles/common/dtext.scss
Labels: Type: Bug, Lang: CSS, DText
