Repository e621ng/e621ng, pull requests merged in 2025-04, with the labels that each got.

#1014 [WikiPages] Fix renaming
  app/models/wiki_page.rb
  app/views/wiki_pages/_form.html.erb
  test/functional/wiki_pages_controller_test.rb
Labels: Type: Bug, Lang: Ruby, WikiPages

#1024 [Themes] Add a toggle to opt out of site events
  app/javascript/src/javascripts/fursona_check.js
  app/javascript/src/javascripts/themes.js
  app/javascript/src/javascripts/utility/storage.js
  app/javascript/src/javascripts/utility/storage_util.js
  app/views/static/theme.html.erb
Labels: Type: Feature, Lang: JS, Themes

#1026 [ArtistUrls] Avoid fetching notes when rendering JSON
  app/controllers/artist_urls_controller.rb
Labels: Type: Bug, Lang: Ruby, Artists

#1027 [ModActions] Fix searching user level change
  app/models/mod_action.rb
Labels: Type: Bug, Lang: Ruby, ModActions

#1028 [UI] Remove April Fool's Prank
  app/javascript/packs/application.js
  app/javascript/src/javascripts/fursona_check.js
  app/javascript/src/styles/base.scss
  app/javascript/src/styles/specific/fursona_check.scss
  app/views/layouts/blank.html.erb
  app/views/layouts/default.html.erb
  app/views/static/_fursona_check.html.erb
Labels: Type: Feature, UI

#819 [Post Search] Add Grouped Tag Searches
  .rubocop_todo.yml
  app/logical/elastic_post_query_builder.rb
  app/logical/elastic_query_builder.rb
  app/logical/parse_value.rb
  app/logical/post_query_builder.rb
  app/logical/post_sets/post.rb
  app/logical/stats_updater.rb
  app/logical/tag_query.rb
  app/models/post.rb
  docker-compose.yml
  test/unit/comment_test.rb
  test/unit/elastic_post_query_builder_test.rb
  test/unit/post_sets/post_test.rb
  test/unit/post_test.rb
  test/unit/tag_query_test.rb
Labels: Type: Feature, Lang: Ruby, Posts, ElasticSearch

#1029 [Users] Tweak the banned message
  app/javascript/src/styles/common/main_layout.scss
  app/views/users/_ban_notice.html.erb
Labels: Type: Bug, Lang: CSS, Users, Bans

#1031 [PostFlags] Minor style fix
  app/javascript/src/styles/specific/post_flags.scss
Labels: Type: Bug, Lang: CSS, Post Flags

#1037 [Group Search] Improve deleted filtering on grouped searches
  app/logical/tag_query.rb
  test/unit/elastic_post_query_builder_test.rb
  test/unit/tag_query_test.rb
Labels: Type: Bug, Lang: Ruby, Posts, ElasticSearch

#1039 [Misc] Add the FurID gallery
  app/controllers/static_controller.rb
  app/javascript/packs/application.js
  app/javascript/src/javascripts/furid.js
  app/javascript/src/styles/views/static/_furid.scss
  app/javascript/src/styles/views/static/_static.scss
  app/logical/storage_manager.rb
  app/views/static/furid.html.erb
  config/routes.rb
  db/populate.rb
Labels: Type: Feature, Lang: JS, Lang: HTML, Lang: CSS

#1040 [Users] Fix a linebreak on the upload limit page
  app/views/users/upload_limit.html.erb
Labels: Type: Bug, Lang: HTML, Users

#1035 [Tickets] Improve info display
  app/models/ticket.rb
  app/views/tickets/show.html.erb
Labels: Type: Feature, Lang: HTML, Tickets

#1042 [Users] Re-add the "revert all tag changes" link
  app/views/users/partials/show/_staff_info.html.erb
Labels: Type: Bug, Lang: HTML, Users

#1043 [CSP] Allow connections to the static server
  config/initializers/content_security_policy.rb
Labels: Type: Bug

#1044 [Misc] Remove redundant requests from the FurID gallery
  app/controllers/static_controller.rb
Labels: Type: Bug, Lang: Ruby

#1045 [Misc] Prevent the FurID gallery from being displayed on e926
  app/views/static/furid.html.erb
Labels: Type: Feature, Lang: JS

#1046 [Search] Fixed `status` bug
  app/logical/post_sets/post.rb
  app/logical/tag_query.rb
  test/unit/tag_query_test.rb
Labels: Type: Bug, Lang: Ruby, ElasticSearch

#1054 Improved Search Error Reporting
  app/controllers/application_controller.rb
Labels: Type: Feature, Lang: Ruby, Posts

#1053 [PostVersions] Add an option to hide changes from non-staff
  app/controllers/post_versions_controller.rb
  app/decorators/mod_action_decorator.rb
  app/models/mod_action.rb
  app/models/post_version.rb
  app/views/post_versions/_listing.html.erb
  config/routes.rb
  db/migrate/20250414000142_post_version_add_hidden.rb
  db/structure.sql
Labels: Type: Feature, Lang: Ruby, Lang: HTML, Post Versions, Lang: SQL

#1056 [UI] Fix the menu toggle button sometimes acting as a link
  app/javascript/src/styles/common/navigation.scss
  app/views/layouts/_nav.html.erb
Labels: Type: Bug, Lang: HTML, Lang: CSS, UI

#1058 [Misc] Minor fixes for the FurID page
  app/javascript/src/javascripts/furid.js
Labels: Type: Bug, Lang: JS

#1034 [Tags] Add an option to destroy tags
  app/controllers/tag_corrections_controller.rb
  app/controllers/tags_controller.rb
  app/decorators/mod_action_decorator.rb
  app/models/mod_action.rb
  app/models/tag.rb
  app/views/tag_corrections/new.html.erb
Labels: Type: Feature, Lang: Ruby, Tags

#1048 Update Replacements UI
  app/controllers/application_controller.rb
  app/controllers/concerns/render_partial_safely.rb
  app/controllers/post_replacements_controller.rb
  app/javascript/src/javascripts/post_replacement.js
  app/logical/upload_service/replacer.rb
  app/models/post_replacement.rb
  app/views/post_replacements/index.html.erb
  app/views/post_replacements/partials/show/_post_replacement.html.erb
  app/views/posts/partials/show/sidebar/_options.html.erb
  db/fixes/123_post_replacement_backup_removal.rb
  test/factories/upload.rb
  test/functional/post_replacements_controller_test.rb
  test/unit/post_replacement_test.rb
  test/unit/post_test.rb
Labels: Type: Feature, Lang: Ruby, Lang: HTML, Post Replacements

#987 [Uploads] Allow mp4s with av1
  app/javascript/src/javascripts/autocomplete.js.erb
  app/javascript/src/javascripts/uploader/file_input.vue
  app/logical/file_methods.rb
  app/logical/file_validator.rb
  config/danbooru_default_config.rb
Labels: Type: Feature, Lang: Ruby, Posts, Uploads

#1060 [UI] Fix font color on posts when ordering pools (#1059)
  app/javascript/src/styles/common/thumbnails.scss
Labels: Type: Bug, Posts, Pools, Lang: CSS

#1062 [Users] Add an option for staff to reset other users' counts
  app/controllers/users_controller.rb
  app/views/users/partials/show/_staff_info.html.erb
  config/routes.rb
Labels: Type: Feature, Lang: Ruby, Users

#1065 [CSS] Fix a couple of issues related to JS being disabled
  app/javascript/src/styles/base/_themable.scss
  app/javascript/src/styles/views/static/_home.scss
  app/views/users/edit.html.erb
Labels: Type: Bug, Lang: JS, Lang: CSS, UI

#1067 [PostVersions] Add creator columns
  app/models/post_version.rb
  app/views/post_versions/_listing.html.erb
  db/fixes/124_fill_post_version_data.rb
  db/migrate/20250420204037_post_version_creator_column.rb
  db/structure.sql
Labels: Type: Bug, Lang: HTML, Post Versions, Lang: SQL

#1069 [Favorites] Add an index on created_at
  db/migrate/20250423141854_add_favorites_created_at_index.rb
  db/structure.sql
Labels: Type: Bug, Lang: SQL, Favorites

#1066 [PostReplacements] Change the per-post limit to only apply to pending replacements
  app/models/post_replacement.rb
  config/danbooru_default_config.rb
  test/unit/post_replacement_test.rb
Labels: Type: Feature, Lang: Ruby, Post Replacements

#1070 [Seeding] Rework post seeding
  db/populate.rb
Labels: Type: Feature, Lang: Ruby

#1036 [Uploads] Increase the preview image size
  app/javascript/src/javascripts/uploader/uploader.vue.erb
Labels: Type: Feature, Lang: CSS, Uploads

#1071 [PostVersions] Account for old post versions potentially having mangled data
  db/migrate/20250420204037_post_version_creator_column.rb
Labels: Type: Bug, Post Versions, Lang: SQL

#1072 [Favorites] Fix the migration timing out
  db/migrate/20250423141854_add_favorites_created_at_index.rb
Labels: Type: Bug, Lang: SQL, Favorites

#1073 [PostVersions] Roll back the creator columns
  app/controllers/post_versions_controller.rb
  app/models/post_version.rb
  app/views/post_versions/_listing.html.erb
  db/fixes/124_fill_post_version_data.rb
  db/migrate/20250420204037_post_version_creator_column.rb
  db/structure.sql
Labels: Type: Bug, Post Versions, Lang: SQL

#1074 [Posts] Disable recent tags
  app/presenters/user_presenter.rb
Labels: Type: Bug, Lang: Ruby, Post Versions, Lang: SQL

#1079 [Posts] Prevent the mp4 uploads from overwriting the original file
  app/javascript/src/javascripts/posts.js
  app/jobs/post_video_conversion_job.rb
  app/presenters/post_presenter.rb
  app/serializers/post_serializer.rb
Labels: Type: Bug, Lang: Ruby, Posts, Uploads

#1075 [Post] Related Links: General improvements to layout and search options
  app/javascript/src/styles/views/posts/show/_show.scss
  app/javascript/src/styles/views/posts/show/partials/_post_related_images.scss
  app/views/posts/partials/show/sidebar/_related.html.erb
Labels: Type: Feature, Lang: HTML, Posts

#1081 [Config] Adjust default values
  config/danbooru_default_config.rb
  test/unit/storage_manager_test.rb
Labels: Type: Bug, Lang: Ruby

#1084 [Posts] Add MP4 thumbnail badges
  app/javascript/src/styles/common/thumbnails.scss
Labels: Type: Bug, Posts, Lang: CSS

#1080 [Favorites] Rework the created_at index to also use user_id
  app/presenters/user_presenter.rb
  db/migrate/20250429022022_replace_favorites_index.rb
  db/structure.sql
Labels: Type: Bug, Lang: SQL, Favorites
